[2017-08-10 13:44] RaitoBezarius opened #1 "Plans for advanced LaTeX support?"
Hi there!

I am also looking to a good solution to write Markdown + LaTeX (preferably, with custom macros and environments) on static blog generator, for now, I have been using a mixture of [pandoc](pandoc.org) and MathJaX.

But I believe your idea could lead to something a lot more cleaner, do you think it'd be feasible [1] to add support for:

- `\def`, `\newcommand`, and so on.
- environments
-

[2017-08-10 15:02] sdispater opened #2 "Invalid code blocks rendering with comments"
First of all, thanks for your library :-)

I found a bug regarding code blocks rendering.

If you have comments (starting with `#`) in a code block, it will not be rendered properly.

[code]

will be rendered as

[code]

However without the comment, it's rendered properly

[code]

[2017-08-11 02:01] miyuchina commented on #2
Thanks for this--should be fixed now. Typing your example into mistletoe yields:

[code]

[2017-08-11 02:01] #2 closed

[2017-08-11 02:43] miyuchina commented on #1
I love the idea. And yes, complete LaTeX support is definitely a thing I will be aiming for down the road.

The main hurdle for this, as I see it, is that as of this moment mistletoe only supports LaTeX elements *when rendering to LaTeX*. A current working example is LaTeX's inline math elements.

If I understand your proposal correctly, you seem to want LaTeX elements to be rendered into HTML. I

[2017-08-11 14:14] sdispater commented on #2
Thanks for the quick fix 😃

[2017-08-12 05:37] miyuchina commented on #1
Well it's actually easier than I expected. Take a look at the [mathjax](https://github.com/miyuchina/mistletoe/blob/master/plugins/mathjax.py) module under `plugins`: it should provide some rudimentary support for MathJax's syntax.

If you want math enclosed in parenthesis or brackets, you need to escape it twice: `\\(1 + 1 = 2\\)`. Similarly with `\def` or macros:

[code]

[2017-08-12 05:45] #1 closed

[2017-08-13 13:52] dmerejkowsky opened #3 "crash when rendering text between underscores"
Steps to reproduce:

[code]

Backtrace:

[code]

[2017-08-14 01:43] miyuchina commented on #3
Should be fixed now. Oh regex craziness..

Thanks for this!

[2017-08-14 01:43] #3 closed

[2017-10-04 18:49] lhayhurst opened #4 "Markdown-to-Markdown renderer"
Hi, great project! I selected it versus the alternatives because I want to render the Markdown back into MarkDown. Is there a simple pass type Renderer that will render it back to its original input form? (My larger use case is a want to edit nodes in the AST to do some programmatic improvements of user entered markdown). Cheers!

[2017-10-05 23:15] miyuchina commented on #4
Thanks for the interest! Unfortunately rendering back to Markdown does require implementing a complete renderer, as the original syntax information is lost in the parsed AST.

Such a renderer is certainly planned for mistletoe, though it does require a bit of work. If you're interested at all in implementing this feature yourself, feel free to open a pull request and we'll see how it goes. Otherwi

[2017-10-06 17:42] lhayhurst commented on #4
Thanks for the reply! Cool, that is what I thought. My friend ( @dgoo)  and I are going to take a shot at writing the MarkDown renderer (starting with the HTML one), but we're both a little busy right now, so if this is something you are hoping to get done quickly, please let me know :-)

[2017-11-09 23:16] sglyon opened #5 "Thanks!"
Sorry, I couldn't find a better place to leave this, but wanted to share my experience using the library nonetheless.

I used mistletoe to write a spell checker script for jupyter notebooks in about an hour! My script basically reads in the notebook, tokenizes all markdown cells with mistletoe, and then I have a custom renderer that only prints out a cell number followed by the misspelled words in

[2017-11-09 23:16] #5 closed

[2017-11-10 16:54] miyuchina commented on #5
No problem at all. Thank you for using mistletoe!

Per your feedback, I did two things in the dev branch:
- explained that renderers should be used as context managers (10f22fb);
- made custom tokens active without needing to call `MyRenderer.__enter__()` (02f1da9).

These will soon be merged into the master branch, and included in the next major version release.

Let me know if there are any othe

[2017-11-11 13:02] samayo opened #6 "Extracting content by intercepting render_raw_text"
Thanks for this nice project.

I may be a noob in this, but I was able to parse a readme get the returned content wrapper in their html elements. But the returned content is one giant text. So, my question is: is there any built-in function to extract only contents but not codes? as in get only data from ..`<p></p>` or `<h5></h5>` ...

[2017-11-11 14:50] miyuchina commented on #6
Hey, sorry – just making sure I understand what you're trying to do, say the returned data is `<p>sample paragraph</p>`, what you want is `sample paragraph`, is that correct? And do you need all the text without the enclosing HTML tags, or do you want to isolate each token and do something with them individually?

In either case, it seems like you would probably want to write a custom renderer. Co

[2017-11-13 17:06] miyuchina commented on #6
Ah, I see what you mean. No need to write a entirely new renderer then. In your case it would be easier to use a design feature of mistletoe, namely, that all render functions eventually need to call `render_raw_text`, so that the recursions may bottom out. Here's a hacky way to do it:

[code]

So in this case I am creating a (global) variable called `raw_text`, which is a list to put all the cont

[2017-11-14 11:59] samayo commented on #6
Ah, thanks for the response and detailed explanation. I will check this during the weekend and see how it goes. I will close this for now, I will re-open it if something comes up.

thanks again

[2017-11-18 08:50] samayo commented on #6
hmm so I finally got some time just now and when I tried your code I get this error:

`TypeError: render_raw_text() takes 2 positional arguments but 3 were given`

I'll try to parse it in regex until you can find a solution for this

[2017-11-18 15:31] miyuchina commented on #6
Oops sorry about that. There are some changes re: renderer's handling of `footnotes` that haven't been updated to pypi yet (see commit 95af86e). I'll prepare a release soon.

If you clone the repo directly (mistletoe v0.4) the above code should work. If you installed by pypi (mistletoe v0.3.1) you need to define `render_raw_text` with an additional `footnotes` argument:

[code]

All other code sta

[2017-11-18 15:57] miyuchina commented on #6
Version 0.4 released! Run `pip3 install --upgrade mistletoe` to upgrade.

[2017-11-18 15:58] samayo commented on #6
Thanks. I'll do this now 👍

[2017-11-21 09:20] samayo commented on #6
Nope. Sadly this doesn't work.  I updated to 0.4 and I don't have the error but I get all contents of the readme, ... maybe I didn't make my question clear enough because I get the codes, and markdown tags.

Can you check for the last time if this code is correct?

[code]

[2017-11-21 13:31] miyuchina commented on #6
Could you paste in the result of your `print(raw_text)`, and what you want it to look like? Maybe also run it with the README of this repo, so that we have something to compare notes with. On my machine, even with a fresh install from pip, I seem to be seeing the correct outputs, so perhaps there's still miscommunication going on!

It's totally fine to drag on this issue! I want to help you resolv

[2017-11-27 16:12] lionpeloux opened #8 "Encoding problem ?"
Thanks for sharing this project, which looks promising.

I've encountered this simple problem and I suspect it's an encoding issue. Do you have any idea ?? As you can see, headings are not properly parsed (# is sort of escaped ??).

Thank you for your help.

[code]

My python code:
[code]

My test.md file:

[code]

[2017-11-27 16:28] miyuchina commented on #8
Hey there! I ran your code and it isn't an encoding problem. The reason mistletoe isn't parsing the heading (or the list, for that matter) is because `filedata` is passed in as a string. If you do:

[code]

... whereas `mistletoe.markdown` accepts a list-like argument. You could either split `filedata` by newlines so that it can become a list, but that would be added complexity. In your case, it i

[2017-12-01 14:20] lionpeloux commented on #8
Thank you for this precision.
I'm now playing with your lib and everything is working ok !

[2017-12-01 16:25] miyuchina commented on #8
Glad I could help!

[2017-12-01 16:25] #8 closed

[2017-12-03 15:21] samayo commented on #6
Sorry for the delay. I hardly get any time off, so hopefully I make it clear this time.

In short. I only want the headers, paragraph (actual English words/text) to get from a readme. As in, I don't want the codes (anything inside ``` because you can not spell check `sys` for example. also, I don't want to get the ### or --- symbols) I only want to get the real understandable words, like:

So, let

[2017-12-09 17:37] miyuchina commented on #6
I see what the problem is. So you want to suppress `BlockCode` and `InlineCode` outputs. The cleanest way would be to write your own renderer. Here's the quick and dirty way, though:

[code]

The other problem is that your markdown format is slightly messy. For code blocks, the format should be:

[code]

... instead of:

[code]

[2017-12-09 18:29] samayo commented on #6
Ah, ok thanks. I will check this out, closing for now. Also, I added the second `python` in the code block so I can render the example, otherwise I am only using the first example as others do :)

cheers

[2017-12-09 18:29] #6 closed

[2017-12-21 18:17] lastcoolnameleft opened #9 "Pass custom renderer via cli"
Looking at https://github.com/miyuchina/mistletoe/blob/master/mistletoe/convert.py#L19

It appears that running mistletoe CLI parses to markdown by default.  It would be helpful to provide custom renderers at runtime.

Cheers,
-Tommy.

[2017-12-22 10:24] miyuchina commented on #9
Feature added in 427c7d3.

Usage:

[code]

Thanks @lastcoolnameleft !

[2017-12-22 10:24] #9 closed

[2017-12-24 14:17] lastcoolnameleft commented on #9
You’re welcome. And thank you as this made my debugging and experimenting a lot easier.

[2017-12-24 14:27] miyuchina commented on #9
You would be happy to learn that if you just pass in the custom renderer flag without a file name, mistletoe will open interactive mode with that renderer. Just added earlier today in bac53767 !

[2017-12-24 17:44] lastcoolnameleft commented on #9
Good to know. Thanks!
On Sun, Dec 24, 2017 at 8:27 AM Mi Yu <notifications@github.com> wrote:

[2018-01-08 23:43] kickingvegas opened #10 "Support JIRA renderer"
Feature request - add support for rendering Markdown (in particular GFM) to JIRA markup.

JIRA markup documentation at this link:
https://jira.atlassian.com/secure/WikiRendererHelpAction.jspa?section=all

[2018-01-09 01:09] miyuchina commented on #10
Would you have time to do it yourself? It essentially boils down to writing a custom renderer, for which you can refer to `mistletoe/html_renderer.py` as an example. Here's what, say, the render function for JIRA's headings will look like:

[code]

The reason I'm not implementing this myself is that I don't think rendering to JIRA markup should be included as a core feature of mistletoe. I'm curre

[2018-01-09 02:05] kickingvegas commented on #10
Perhaps. If I have a couple of hours I can see how far I get with making a JIRA renderer. Probably the biggest unknown are the tags like `level` and `inner` that I'll need to know to make the right mapping.

[2018-01-09 02:09] miyuchina commented on #10
Yeah, that's what I thought. I hope to have the API stabilized some time soon so that I can lock down the documentation for those tags. I apologize for this.

But `HTMLRenderer` makes use of all the available tags, so you can look at those. If a `token` has attribute `children`, use `self.render_inner(token)` to render everything inside that token.

[2018-01-10 07:44] cctile commented on #10
Started working on this, making decent progress. Found a bug in the table rendering code which tries to iterate a tuple for headers.

[2018-01-10 21:25] cctile commented on #10
Got some early work here https://github.com/cctile/mistletoe/tree/cc/jira-support

[2018-01-10 21:28] cctile commented on #10
Want to build a standalone script `md2jira.py`; if I add to the PR, can I create a `contrib` directory to put that file there?

[2018-01-11 01:19] miyuchina commented on #10
Implemented in #11 . Closing for now.

[2018-01-11 01:19] #10 closed

[2018-01-11 01:38] miyuchina opened #12 "Crashes when rendering tables with headings"
Broken in mistletoe 0.4.1. Spotted by @cctile in #10. Derp.

The cause is that since 0.4.1 `token.children` returns a list (or tuple), and `HTMLRenderer` and `LaTeXRenderer` tries to call `next` on the list (or tuple).

I could patch it the easy way, but the neater solution will change the `Table` class slightly, and make future `render_table` functions less gross.

[2018-01-11 02:11] miyuchina commented on #12
Well that was fast. Fixed in 5436e70.

[2018-01-11 02:11] #12 closed

[2018-01-11 02:40] miyuchina opened #13 "HTMLRenderer parsing AutoLink as HTMLSpan"
Broken in mistletoe 0.5.

The cause is that `HTMLSpan` is added in the first place of the token matching precedence. If we want `AutoLink` to work correctly, its precedence must be lower than `AutoLink`.

The difficulty fixing this is that even though `span_token.add_token` takes an optional `position` argument, it is called in `BaseRenderer.__init__()` and there's not a defined way for renderer s

[2018-01-11 13:36] huettenhain opened #14 "FootnoteLink removing trailing spaces"
First of all, this is a great project and incidentally it offers the only way to have a decent Markdown to Jira converter. I encountered one tiny bug in the converter:

Assume the following markdown document:

    Test [link] will remove space.

    [link]: http://www.nullteilerfrei.de/

Then the output of `md2jira` will be the following:

    Test [link|http://www.nullteilerfrei.de/]will remove s

[2018-01-11 13:40] huettenhain opened #15 "Fenced Code Blocks / CommonMark"
Given the following markdown document:

    This
[code]
    does not convert properly.

Then the output of `md2jira` (for example) will be the following:

    This
    {{`}}
    code
    block
    {{`}}
    does not convert properly.

I am well-aware that triple backtick code blocks are not the original Markdown standard, but they have made it into [common mark](http://spec.commonmark.org/0.28/#fe

[2018-01-11 13:58] miyuchina commented on #14
Hi there! Thanks for the interest!

Jira renderer support was just added yesterday, and as you can probably tell by the code, it's not yet production ready. I'll cc the author @cctile to see if they have any idea what's going on, and I'll try to take a look once I free myself from work as well.

Wow, I had no idea there's no adequate Markdown to Jira converter..

[2018-01-11 14:13] miyuchina commented on #15
Ah, it's a bug in `Paragraph.read` method actually. I'll fix it hopefully today.

mistletoe does support code fences. If you add a newline after "this":

    This

[code]
    does not convert properly.

This will convert to:

[code]

The missing newline is tripping things up.

CommonMark is a thorny issue that has been on my mind for a while. I'll open another issue to make my thoughts clear, but

[2018-01-11 14:25] huettenhain commented on #14
Thanks for the quick turnaround! I will be as patient as I am eager for this tool =).

To elaborate: I might be picky with what an "adequate" converter is, but I was looking for something that I works from the command line. And added bonus is that I might integrate this directly in my scripts that communicate with Jira's REST(-like) API. Most importantly however, I am lucky enough not to be in the

[2018-01-11 18:09] cctile commented on #14
Took a look at https://github.com/cctile/mistletoe/blob/dev/plugins/jira_renderer.py#L88
See two ways to fix this for `render_footnote_link`:

1. Quick and dirty where we introduce end space in `template`:
[code]
2. Push fix on @miyuchina where the space is honored in the AST level.

@miyuchina your thoughts?

[2018-01-11 18:11] cctile commented on #14
Also @huettenhain thanks for trying this out! Appreciate your feedback!

[2018-01-12 03:09] miyuchina commented on #14
Should be fixed in f73e3f1. Closing for now.

[2018-01-12 03:09] #14 closed

[2018-01-13 16:52] miyuchina commented on #15
Should be fixed in c51b564. Let me know if there's any other problem! Closing for now.

[2018-01-13 16:52] #15 closed

[2018-01-13 17:08] miyuchina commented on #13
Actually, I take it back. Consider the following two examples:

[code]

For the first example, `<div>` is considered to be an unclosed HTML tag, which might or might not be closed before EOF (in this case, it is not closed).

For the second one, an inline, self-closing HTML must be of the form `<foo />` to avoid colliding with `AutoLink`. Because `<autolink>` is not a valid self-closing form, it i

[2018-01-13 17:09] #13 closed

[2018-01-13 17:18] miyuchina commented on #4
I'm going to add a "help-wanted" tag to this issue, since I don't think I'd be getting around to this anytime soon. If you're interested in this feature, add your thumps-up to @lhayhurst 's topmost comment. Comment below if you're in a pinch!

For potential contributors, take a look at [`mistletoe.html_renderer`](https://github.com/miyuchina/mistletoe/blob/master/mistletoe/html_renderer.py) module

[2018-01-13 18:45] miyuchina opened #17 "CommonMark compliance"
## Rationale

Starting from version 0.5, mistletoe will be striving towards spec compliance with [CommonMark](https://commonmark.org). If you have issues / pull requests regarding CommonMark compliance, I'd be happy to review them in a new thread.

I'm hoping spec compliance would give mistletoe more predictable behavior, and help stabilize the interface.

This issue will be used as a place for pr

[2018-01-24 16:52] cctile commented on #17
Thanks much for working on this! Any ideas on when the next release will be?

[2018-01-24 17:46] miyuchina commented on #17
Sorry, life finally caught up with me in the past week. I did a minor version release just now!

[2018-01-26 23:43] cctile opened #19 "md2jira import needs to be from the contrib directory"
The import of `JIRARenderer` should be from `contrib.jira_renderer` instead of `jira_renderer`.

[2018-01-26 23:54] miyuchina commented on #19
Fixed in #20.

@cctile would you prefer a minor version release now, or is it okay for people to clone the script directly? Asking because I have a hunch that I won't be doing another release within the next few weeks.

[2018-01-27 16:26] liuq opened #21 "Mistletoe plant and logo"
Hi,

first of all, thanks for the tool: it's a piece of cake for markdown parsing (and also for custom rendering)!

Just for the sake of precision, I'd like to point out a common misconception about mistletoe, which is not the plant depicted in the logo. The plant of the logo is either the [Ruscus aculeatus](https://en.wikipedia.org/wiki/), also called *butcher's-broom* or *christmas berry* or the

[2018-01-27 16:30] liuq commented on #21
As I mention, I'd just want to let you know about, so I close the issue ;-)

[2018-01-27 17:20] #19 closed

[2018-01-27 17:24] miyuchina commented on #21
Wow, I had no idea! Thank you for pointing this out!

I wonder if we could find a cartoon-ish logo that is similar in style to the current one, but is of the actual mistletoe plant. I'll keep an eye out for it, but let me know if you see a good one!

[2018-01-30 18:20] miyuchina commented on #21
I'm reopening this issue to address the new logo suggested in @liuq 's pull request #23. The new file is [here](https://github.com/miyuchina/mistletoe/pull/23/commits/55b22f802533bc256504d28b64745a521772b926) if anyone's interested.

My tentative decision on this is as follows:

1. Leave this issue open for now and see if others have thoughts about the logo change;
2. This is a purely subjective i

[2018-01-30 19:14] miyuchina commented on #21
I found [this](https://www.flaticon.com/free-icon/mistletoe_616034) one, which is kind of similar to the one @liuq posted? Looks like it doesn't have berries. Just want to make sure this is a real mistletoe.

[2018-01-30 20:25] liuq commented on #21
Yes it is (besides the berries, indeed).

[2018-01-31 10:55] huettenhain opened #24 "URLs seem to prevent code blocks from closing properly"
Hey everyone! I have recently converted a markdown document to Jira format with mistletoe and ran into the following bug. Compiling this document:

    # URL Problem
[code]
    this is not part of the code block.

yields this Jira code:

    h1. URL Problem
    {code:}
    http://google.com/
[code]

[2018-01-31 17:49] huettenhain commented on #24
I  might have found the source for many strange problems I have had with code blocks, including some I hadn't raised yet - I think that the following line:

https://github.com/miyuchina/mistletoe/blob/819c04f7ff6e237df59725bf2ee0136e97efd695/contrib/jira_renderer.py#L136

should be replaced by something like
[code]
After all, the contents of a code block should specifically *not* be rendered.

@cc

[2018-01-31 17:59] miyuchina commented on #24
I seem to be able to reproduce this issue in HTML renderer as well, so I think the bug might be in the parser.

This is bizarre, though, because I thought I specifically fixed this bug a few commits earlier. I'd need more time to look through this.

[2018-01-31 23:59] miyuchina commented on #24
Ha I found it! Now I get all the hate towards invisible characters.

So your closing line for the code fence has a space character attached to the end (instead of `~~~\n`, you have `~~~ \n`). The parser is trying to match for `~~~\n` exactly, which is why the code fence just falls off the end.

In 6d3c211 I changed the parsing rule check if `line.startswith("~~~")` instead. It should be working no

[2018-01-31 23:59] #24 closed

[2018-02-04 18:08] huettenhain opened #26 "Feature request: Less strict table parsing"
Hey there!
To get the following table:

Column1 | Column2
------: | :------
   Data | Data
   Data | Data

the Mistletoe parser would require the following code:
[code]

Many Markdown implementations I know allow the following:
[code]
and in fact, while typing this, I figured out that Github will even parse the following:
[code]
I don't see a particular use for the latter, but the first one has of

[2018-02-05 01:27] miyuchina commented on #26
I didn't know this was possible! I don't think this is out of scope, and since CommonMark does not even support tables, we might as well do as we please, and make the syntax easier to write in :smiley:

I think if I were to do it, I should be able to get around to this in about a week, and I'll do another release to pypi after that. Would that be soon enough?

[2018-02-05 16:39] miyuchina commented on #26
Feature added in 566b234. Currently the shorthand form for tables still require a delimiter row. For, example, this is **not** a valid table:

[code]

But this is a table:

[code]

The reason for this is that the `|` character is still commonly used inline, and allowing tables without delimiter rows might cause many normal lines to be accidentally parsed as tables. (GFM, I noticed, also needs the

[2018-02-05 16:39] #26 closed

[2018-02-05 18:44] huettenhain commented on #26
Fantastic! That was incredibly fast :smile:

[2018-02-16 16:55] kickingvegas opened #28 "Add mention of JIRA support in README.md"
Humble ask to mention JIRA support with mistletoe in the home directory README.md.

[2018-02-20 01:17] miyuchina commented on #28
Mentioned in abcc4c7. Sorry it took a while!

[2018-02-20 01:17] #28 closed

[2018-02-27 10:09] huettenhain opened #29 "Tiny followup on table shorthands"
I think a bug might have been introduced in 566b234b540bb926a547f79edb8017a78cd83397: Consider the following table:

    ### Test

     One | Two
     --- | ---
     A   | BC
     D   | ED

When I translate it to Jira, I get the following:

    h3. Test
    ||A||B||
    |A|B|
    |D|E|

It seems to have removed the last character in every row because I left out the closing bar.

[2018-02-27 16:29] miyuchina commented on #29
Should be fixed in 527943f; I forgot to update the `TableRow` class accordingly. Thank you!

[2018-02-27 16:29] #29 closed

[2018-02-27 18:58] huettenhain commented on #29
as always, thanks to *you* for the incredibly swift response.

[2018-03-03 20:53] aoloe commented on #21
hi

i'm currently working on a markdown library in c++ that is very much inspired by your work and i took the name.

i don't know yet, if i can bring it to a state where it's really usable in production, but it's gently evolving and i'm pretty happy with the result until now!

now, if you prefer not to use @liuq 's logo in its current state, i would be glad to use it myself (without the ribbon...

[2018-03-04 02:02] miyuchina commented on #21
@aoloe Do go ahead and use it! I'm glad you find mistletoe helpful. Best of luck with your library!

[2018-03-05 09:10] aoloe commented on #21
thanks! i'll will get in touch with @liuq and get his aproval... : - )

[2018-03-24 00:51] duckwork opened #30 "Inline elements don't parse across newlines"
When parsing Markdown, mistletoe doesn't parse inlines across line boundaries.  Example source:

[code]

And example output:

[code]

Most parsers recognize inlines over newlines.  It'd be nice if mistletoe did, too.  Would it be as simple as setting a `re` flag?

[2018-03-24 15:33] miyuchina commented on #30
Yeah, I added `re.DOTALL` flags across all the builtin token types. Some regexes also need to be changed, and there might be some performance implications, but CommonMark does it, so I'm keeping this feature.

Let me know if there's anything weird; I'll do a minor version release to pypi later.

[2018-03-24 15:33] #30 closed

[2018-03-27 21:05] duckwork commented on #30
Cool, thanks! I'm looking forward to the pypi release.

[2018-03-27 23:00] miyuchina commented on #30
Just released it! Should be working in 0.5.4.

[2018-04-06 13:24] jabdoa2 opened #31 "Calling children on RawText crashes"
[code]

[2018-04-06 13:35] miyuchina commented on #31
Hmm, that should be the intended behavior. `RawText` objects only have `RawText.content` attribute, since they are leaf nodes in the parse tree. Could you show me what you were trying to do?

[2018-04-06 13:58] jabdoa2 commented on #31
I just walked the tree using a simple recursive function:

[code]

I can workaround by checking `hasattr(token, "_children")` but that would not be very nice. In my understanding if a class offers a function if should not crash.

[2018-04-07 20:57] miyuchina commented on #31
Added the custom exception in 52d7ca32e9ada2558e874cd73589dde318393461.

The visitor pattern implementation I mentioned above:

[code]

`level` here is managed by a class variable rather than by an additional argument in the recursive call. This is to avoid propagating changes throughout the renderer class. Again, it is clunky, but it works.

@jabdoa2 please let me know if you'd like further discu

[2018-04-10 15:44] DMRobertson opened #32 "Links to URLs ending in brackets are truncated"
URLs like `https://en.wikipedia.org/wiki/Set_(mathematics)` which end with a bracket seem to get truncated by Mistletoe. It seems to grab a URL by searching for the first `)` character, omitting brackets and any following characters. For instance:

[code]

I'm not sure if this is a serious issue---after all, we can encode the bracket in the URL as `%29`. For what it's worth, GitHub's flavour of ma

[2018-04-10 16:12] miyuchina commented on #32
Ah, should be fixed in 2706db3. The problem was caused by a lazy matching character in the regex, because I was trying to solve the problem of multiple links in a paragraph. Disallowing whitespaces (as I should have done from the beginning, derp..) in URLs bypasses this problem.

[code]

This fix will be included in the next pypi release, so please use the dev branch if you need it working now. Th

[2018-04-10 16:12] #32 closed

[2018-04-10 19:20] joncass opened #33 "SpanToken.Image regex does not allow empty alt text"
The Image SpanToken does not allow empty alt text, so `![](some/image.png)` will not be parsed. I think the regex [here](https://github.com/miyuchina/mistletoe/blob/master/mistletoe/span_token.py#L144) needs to be updated.

P.S. Thanks for writing Mistletoe - it is great so far! :)

[2018-04-10 20:47] miyuchina commented on #33
Updated in 25cbccb, and will be included in the next release. Thanks a lot!

[2018-04-10 20:47] #33 closed

[2018-04-11 11:26] joncass commented on #33
Awesome - thanks for the speedy reply! Do you know when the next release will be?

[2018-04-11 14:40] joncass commented on #33
No that's great. If it was going to be months I'd probably pull my own copy, but a week or two is fine :). Thanks again!

[2018-04-15 18:12] miyuchina commented on #31
Closing for now, but still happy to hear feedback.

[2018-04-15 18:12] #31 closed

[2018-04-19 10:28] huettenhain opened #34 "List parsing requests"
Hello again, and thanks one more time for this great tool. I am having some minor troubles with bullet point lists; consider the following Markdown:

[code]

You will notice that only the third list is parsed as intended by Mistletoe:

1. The first one is not parsed at all because (I think) it is not preceded by a paragraph
2. The sublist of the second list is not recognized because it looks like

[2018-04-20 02:25] miyuchina commented on #34
Ah, I might have to fix it over the weekend, since my hands are a bit tied with work. And yes, the reasons you gave are correct.

Preliminary thoughts about (2): CommonMark does not allow less than 4 spaces of indent, and GitHub does not allow less than 2. I'm leaning towards following the GFM convention here, and not allowing only 1 space before sublists. There could be lazy-continuation lines th

[2018-04-20 07:09] huettenhain commented on #34
If you want, I can try and make a PR for this, I just always feel like you can fix stuff much quicker ;-).

Regarding 2: I completely agree that it is unnecessary to recognize single space indent for new sublists. I am somewhat biased here since I would really like 2 space indent to work, and I find it visually appealing when editing the Markdown source. However, let me also say that if you want t

[2018-04-24 03:11] miyuchina commented on #34
This is taking me longer to fix because lists are complicated to parse :disappointed: Will report back with hopefully more cheerful news, but I am definitely working on both requests.

Thanks for the patience!

[2018-04-24 10:33] huettenhain commented on #34
Again, I can only stress how grateful I am for the library and your quick response to requests. Please don't worry and take your time. Thanks again!

[2018-04-24 17:43] Bridouz opened #35 "Syntaxe highlight support via Pygments"
Hi,

Is there a possibility to use **Pygments** with Mistletoe to provide syntaxe highlighting to the markdown renderer ?

[2018-04-24 23:06] miyuchina commented on #34
Should be fixed! Two spaces or more makes a sublist. Will include in the next release (I'm thinking some time around end of this month?)

[2018-04-24 23:06] #34 closed

[2018-04-25 01:58] miyuchina commented on #35
Hello there!

To clarify: would you want something similar to [this renderer feature](https://github.com/lepture/mistune#renderer) in mistune, where code blocks can be highlighted with Pygments? or would you want to only use mistletoe as a lexer, and use Pygments' renderer frontend completely?

Both (I think) can be done. The first one shouldn't be hard, and the second one looks like a fun explora

[2018-04-25 21:57] miyuchina commented on #35
I added a `PygmentsRenderer` under the [contrib](https://github.com/miyuchina/mistletoe/blob/dev/contrib/pygments_renderer.py) directory that should do what you want. The code is fairly minimum, but let me know if I'm missing any features you'd like to see.

To use it in the command line, make sure `path.to.pygments_renderer` is importable by Python, and run:
[code]
The result will be in `out.html

[2018-04-25 21:57] #35 closed

[2018-04-26 19:04] joncass opened #36 "Heading within paragraphs are not recognized"
It appears that many of the tests in the commonmark suite are failing. The one I'm particularly interested in right now is "example 48":
[code]

should get translated to

[code]

but instead becomes

[code]

Are there any plans to fix this and/or the other failing commonmark tests?

Thanks!

[2018-04-26 19:28] miyuchina commented on #36
Just pushed a fix for this in dbd45a0.

And yes, I do intend on fixing more of the Commonmark tests (see #17), but it is quite a hefty project, so at the moment I'm prioritizing specs that people care about, like this one. There will hopefully be more fixes coming in the summer when I'm less busy.

I do strive to fix bug reports quickly, though, so if you're annoyed by something that is in the spe

[2018-04-26 19:28] #36 closed

[2018-04-26 19:41] joncass commented on #36
Wow - thanks for the incredibly fast fix!

Makes sense to go through the Commonmark spec slowly, but prioritize fixes for things that people ask about. I likely have another couple incoming pretty soon :).

Do you have a regular "release" schedule?

[2018-04-26 20:06] miyuchina commented on #36
Haha, I was just working on a related refactoring that made this fix pretty easy :) Keep the issues coming!

I don't really have a release schedule, though I usually do a release after I accumulate ~15 commits from the previous version. Bug fixes get priority, of course, and can shift releases forward. For this one I'm aiming to doing a release this coming Sunday.

[2018-04-27 11:10] joncass commented on #36
Got it - thanks for the info.

[2018-04-27 12:05] joncass opened #37 "ASCII line openers are causing problems"
I'm seeing the following behavior:
[code]
gets parsed to
[code]
This is close to correct, but the first line should also be in `<p>` tags.

More worryingly:
[code]
gets parsed to
[code]
I'm not sure what's going on there - it may be related to #36, but I'm not sure. I would have expected
[code]

[2018-04-27 12:40] joncass opened #38 "Newlines are inserted into code tags"
Parsing
`` `x=1` ``
yields
[code]
but the newline between the `x=1` and the `</code>` means that when the HTML is rendered, there is a space (i.e. it looks like `x=1[SPACE]`).

[2018-04-27 13:04] joncass opened #39 "Wrapping an <aside> in backticks does strange things"
I'm seeing some weird behavior when wrapping an `<aside>` in backticks:
[code]
Becomes
[code]
Rather than the expected
[code]

[2018-04-27 13:17] joncass opened #40 "Commonmark compliant lists"
See [this example](https://spec.commonmark.org/dingus/?text=1.%20List%20item%201%0A%20%20%20%20%60%60%60%0A%20%20%20%20This%20is%20code%0A%20%20%20%20%60%60%60%0A1.%20This%20should%20be%20numbered%20as%202%0A%0A%20%20%20%20This%20is%20indented%0A%0A1.%20Number%203)

In Mistletoe the indentations/codeblocks get mixed up, and the numbering in the list does not continue correctly

[2018-04-27 14:29] miyuchina commented on #38
I'm not sure I can reproduce this bug regarding inline code. Here's what I'm seeing:

[code]

The newlines do get attached to the end of a code block, however. In the previous version:

[code]

After 129aff4:

[code]

Could I bother you to confirm the inline code issue?

[2018-04-27 14:37] miyuchina commented on #39
Hmm... weird, I'm having trouble reproducing this one as well. Here's the output I'm seeing:

[code]

This looks similar to the inline code issue (#38). Could you try running your Markdown snippet in interactive mode and paste your result here?

Thanks again!

[2018-04-27 14:48] miyuchina commented on #40
I think I know how to fix this one, but it'll take me a bit. Lists are hard to parse, and I'll have to think of a better way.

[2018-04-27 15:03] joncass commented on #38
I'm unable to reproduce both this and #39 when using `mistletoe` in isolation, but can still reproduce both of them in my script (which sits on top of `mistletoe`). So probably not your problem. Sorry for the false alarm!

[2018-04-27 15:03] joncass commented on #39
See comment in #38 - this is probably not a `mistletoe` issue

[2018-04-27 15:04] joncass commented on #40
Sure, makes sense. When you say "a bit" are you thinking days, weeks, months, ...? No pressure - I just want to get an idea of whether I need to consider a workaround or if I can wait.

[2018-04-27 15:24] #38 closed

[2018-05-01 03:04] miyuchina commented on #40
Almost there. Some whitespace still need fixing.

I also broke backwards compatibility (re: `BlockToken.start`) and need to write new test cases for the new list implementation, so the next release will be delayed for ~2 days, but hopefully not more than that.

[2018-05-01 10:50] joncass commented on #40
Very cool - thanks for the update and continued responsiveness!

[2018-05-02 02:10] miyuchina commented on #40
I just released a new version. Output for the original example:

[code]

[2018-05-02 02:13] #40 closed

[2018-05-02 02:14] miyuchina commented on #21
Updated logo in version 0.6. Thanks!

[2018-05-02 02:14] #21 closed

[2018-05-02 02:16] miyuchina commented on #17
mistletoe version 0.6 implemented Commonmark compliant lists!

[2018-05-02 11:48] joncass commented on #40
I pulled the new release into my project, and while it does fix the exact example pasted above, it unfortunately doesn't work for this variation (note the extra newline before the codeblock starts):
[code]

I also noticed that it adds spurious instances of `<pre><code></code></pre>` when there are lines that only consist of whitespace. Probably not a huge deal for most cases, but it seemed odd to

[2018-05-02 16:12] miyuchina commented on #40
I pushed a temporary fix, though it has less to do with parsing lists, and more to do with how code fences are currently parsed. I'll open another issue for implementing Commonmark-compliant code fences. Currently the example is working:

[code]

Can you give an example of spurious `<pre><code></code></pre>`?

[2018-05-02 16:13] miyuchina opened #41 "Commonmark compliant CodeFence"
Related: #40, where code fences are not parsed correctly in lists.

[2018-05-04 08:26] JBartlett86 opened #42 "List parsing fails if sub list changes leader"
Hi,

There appears to be a bug parsing lists where sublists change the leader character.

For instance when trying to parse markdown that looks like this;

[code]

or

[code]

I get the following error;

\lib\site-packages\mistletoe\__init__.py:19: in markdown
    return renderer.render(Document(iterable))
\lib\site-packages\mistletoe\block_token.py:117: in __init__
    self._children = tuple(toke

[2018-05-04 13:52] miyuchina commented on #42
Ah, some class variable related bug. Should be fixed in the latest commit; release coming within the next week or so.

Thanks a lot!

[2018-05-04 13:52] #42 closed

[2018-05-04 22:47] Bridouz commented on #35
Thanks a lot.

As I'm a non-dev trying to fill his passion for tech by learning python I wonder how I can use it in a script I'm working on to build a static blog.

I used mistune with

[code]

Is it possible to do the same with **Mistletoe** ?

Thanks

[2018-05-05 12:59] miyuchina commented on #35
Yes! Just change mistune to mistletoe, and you're ready to go:

[code]

[2018-05-06 08:45] Bridouz commented on #35
Thanks a lot, it's really nice to use *Mistletoe*. Fast, simple and clean rendering.

:smile:

[2018-05-07 18:30] miyuchina commented on #41
WIP: examples 97 (should be a block quote implementation problem), 114, 115.

[2018-05-09 13:10] NatTupper opened #43 "Issue with read method in Paragraph class"
Line 208 in block_token.py is `line_buffer.append(next(line))`. Variable "line" does not exist and crashes on that line when called. Changing `line` to  `lines` fixes this problem.

[2018-05-09 21:18] miyuchina commented on #43
Derp, sorry about that. Should be fixed now! Release coming this week.

[2018-05-09 21:18] #43 closed

[2018-05-11 22:48] huettenhain opened #44 "Sublists cause additional paragraph to be inserted into list"
Consider the following example:

    mistletoe [version 0.6] (interactive)
    Type Ctrl-D to complete input, or Ctrl-C to exit.

    ...   - subitem 1
    ...   - subitem 2
    ... - item b
    ... - item c
    <ul>
    <li><p>item a</p>
    <ul>
    <li>subitem 1</li>
    <li>subitem 2</li>
    </ul>
    </li>
    <li>item b</li>
    <li>item c</li>
    </ul>

I think `item a` should not be cont

[2018-05-12 00:03] miyuchina commented on #44
Hmm, so the example is working now:

[code]

But the loose list / tight list thing is not completely spec compliant, and requires more thought. I'll leave this issue open until I can resolve this.

[2018-05-12 10:53] huettenhain commented on #44
Also, you are on 0.6.1 which I think is the dev branch - I was on 0.6. I checked it on dev and indeed, I get the same version number and the same behavior as you do. You can close this out whenever you like.

[2018-05-12 16:00] miyuchina commented on #44
Oh I fixed it on the dev branch because you posted this issue--sorry that wasn't clear!

[2018-05-12 16:04] huettenhain commented on #44
Oh! Well in that case, thank you! :smile:  I was afraid that I hat tested on the wrong branch is all.

[2018-05-14 21:17] miyuchina commented on #44
I found a better solution. The output of the example above does not change, but it handles other corner cases better. Closing this issue for now!

[2018-05-14 21:17] #44 closed

[2018-05-17 22:32] miyuchina commented on #41
All tests passing.

[2018-05-17 22:32] #41 closed

[2018-05-18 16:09] joncass opened #45 "Token precendence"
I'm having difficulty with token precendence. In particular, I'm writing a `Renderer` that extends from `HTMLRenderer`, but I'd like to parse markdown inside of `<aside>` tags (i.e. `<aside>*foo*</aside>` would become `<aside><strong>foo</strong></aside>`). So I was hoping to write a custom token that would detect `aside`s and `render_inner` on it. My custom token doesn't trigger though, because t

[2018-05-18 20:02] miyuchina commented on #45
I played with it a little, and perhaps this is what's going on. Using this code:

[code]

I can render:

[code]

to:

[code]

But this markdown snippet will not render the inner emphasis:

[code]

Because the entire block is first captured by the `HTMLBlock` token. To get around this, you need to define both a block-level aside tag and a span-level one, and pass both of them into the `super` const

[2018-05-19 00:28] daerhu opened #46 "Multi-level Lists"
Multi-level lists don't parse properly.  I only ever get two levels deep.

[code]
yields:
[code]

There should be a `<ul>` prior to 'c' and 'd'.  Tested with the latest dev branch (0.6.2).

Thanks for the hard work.

[2018-05-19 01:05] miyuchina commented on #46
Derp, I really should have come up with better test cases. Fixed in the latest commit, and your example now yields:

[code]

Thank you!

[2018-05-19 01:05] #46 closed

[2018-05-19 06:30] KayEss commented on #46
Just came across this bug and came here to file a report myself. Fixed in minus 5 hours -- that's quick :)

[2018-05-21 12:42] joncass commented on #45
Cool, this works. (Note: I did have to modify the `AsideBlock` init function a bit since strings are immutable so `lines[0].replace` returns a string but doesn't modify the given one). Thanks!

In terms of making it the default behavior to render inner elements, do you think you'd do that for both `HTMLSpan` and `HTMLBlock` or just one of them? I went back and forth on whether I wanted to do this

[2018-05-24 06:11] Bridouz opened #47 "[Request] Footnote support"
Hi,

If I'm not wrong *Footnotes* are not supported by **mistletoe**.

I saw something about *footlink* but not footnotes.

Example:

[code]

[2018-05-24 17:35] miyuchina commented on #45
I think I'm doing that only for `HTMLSpan` and not for `HTMLBlock`, in accordance with CommonMark. The interesting thing is that CommonMark has some pretty particular definitions for `HTMLBlock`. Using these definitions, I think not rendering inner elements for `HTMLBlock` would be following the rule of least surprises. You can take a look at [Section 4.6](https://spec.commonmark.org/0.28/#html-bl

[2018-05-24 17:35] #45 closed

[2018-05-30 13:23] timfox456 opened #48 "ASTRenderer: TypeError: <mistletoe.block_token.TableRow object at > is not JSON Serializable"
I may have found a bug in ASTRenderer in generating tables, but perhaps I'm not doing something right.  I'd deeply appreciate your help.

I tried the following script:

[code]

With this markdown code:

[code]

And I get this error:

[code]

[2018-05-30 14:46] miyuchina commented on #48
That is indeed a bug! Should be fixed in 2b95898. You can work off the dev branch if you need it working now.

Thank you!

[2018-05-30 14:46] #48 closed

[2018-06-10 00:59] miyuchina commented on #17
All tests passing as of commit 182c29f.

[2018-06-10 00:59] #17 closed

[2018-06-12 17:21] supersam654 opened #49 "Code blocks inside of lists do not preserve whitespace if indented by 4 spaces"
(All code snippets run inside of the `mistletoe` command)

If I have a list with a code block inside of it and the code block is indented exactly 2 spaces inside of the list item, everything works as expected:

[code]

Note the spaces before "indented" in the `code` tag.

However, if the code block is indented 4 spaces inside of a list, the indentation is not preserved:

[code]

[2018-06-13 00:50] miyuchina commented on #49
Thanks for the issue! Can you check the version of mistletoe you are using? I can reproduce this issue on version 0.6.1, but the current version on pypi is 0.7, and the issue is fixed in the latest version.

[2018-06-13 13:35] supersam654 commented on #49
Ooops. I was on `0.6.1` and this totally works on `0.7`. Thanks!

[2018-06-13 13:35] #49 closed

[2018-06-13 15:13] miyuchina commented on #49
No problem! Let me know if there's anything else I can help with.

[2018-06-20 17:44] huettenhain opened #50 "Only the fist inline code element is rendered in version 0.7"
I am encountering an odd quirk in mistletoe 0.7:

    C:\> mistletoe
    [warning] readline library not available.
    mistletoe [version 0.7] (interactive)
    Type Ctrl-D to complete input, or Ctrl-C to exit.

    ... ^Z

    <p>This <code>code</code> and this `code` should all be `code`</p>

As always, thanks a lot for the great library.

[2018-06-20 20:06] nickovs commented on #4
Has any progress been made on this? I too need a MarkDown renderer for Mistletoe. If there's work in progress then I would be happy to take a look at using that as a starting point and see if I can build something.

[2018-06-20 20:38] miyuchina commented on #50
Should be fixed in 11ac586!

[code]

I'll do another release this coming weekend.

[2018-06-20 20:38] #50 closed

[2018-06-20 21:15] huettenhain commented on #4
I think this would be a nice project and a way to contribute to this great library. I will try to write a Markdown renderer for Mistletoe, I feel like it should be rather straightforward.

[2018-06-20 21:15] miyuchina commented on #4
Thank you @nickovs for taking this task on yourself! I think the main difficulty is working through all the edge cases that a Markdown document can contain, and this is partly why I've been putting this issue off. For example:

[code]

... should be parsed as:

[code]

But using the naive implementation above, we would have the output:

[code]

... which gets parsed as:

[code]

And things get tri

[2018-06-20 21:35] nickovs commented on #4
I've been taking a look at this just now since I have active need for it at work. The use case that I have is that we manage a bunch of processes internally using Markdown wiki pages; some of these pages are generated by humans and some by machine. I need to be able to have code that can add, modify and/or delete content in the sections in the middle of the pages and ideally I'd like to be able to

[2018-06-20 21:46] lhayhurst commented on #4
Hi, thank you for picking this up! I've been knee-deep in job-work recently and unable to complete the task :-(

[2018-06-20 22:11] nickovs commented on #4
@miyuchina Since you mentioned that this was already planned as a feature for mistletoe, when I send you a pull request would you like me to put this into the `mistletoe` directory or the `contrib` directory? It seems to me that it should be core functionality for the library, which would suggest the former.

[2018-06-20 22:38] miyuchina commented on #4
@nickovs Yes, go ahead and put it in the `mistletoe` directory! I like the idea, but for now, if you do end up implementing this, is it okay if you only override the `render` function in your new renderer? Don't worry too much about writing tests, they can come later.

I'm thinking about adding location information to each token, e.g., a `Paragraph` knows it has lines 3-6 of the original document,

[2018-06-20 23:14] nickovs commented on #4
OK. I have a naive version working for the documents that I care about. I will get it to a state where a parse of the samples in the tests and parses of my rendered rendered versions of the first pass look the same and then I'll send it to you.

[2018-06-22 19:54] miyuchina commented on #4
@nickovs no rush of course, but I'd love to include your Markdown renderer in version 0.7.1, which I plan to release this coming weekend. Do you think it can be finished before then, or do you think we should give it more time?

[2018-06-24 20:17] rsrdesarrollo opened #52 "StopIteration Exception without terminating newlines"
Hi

This simple test raises an StopIteration Exception on block_tokenizer.

[code]

I think it is related with the lack of end-of-line at the end.

[2018-06-25 13:21] miyuchina commented on #52
Related to #51, should be fixed in 1a43a68ce6c9a2161b4ba9fcfc1068e3eb754def!

[2018-06-25 13:21] #52 closed

[2018-06-25 21:54] nickovs commented on #4
It looks like I missed the 0.7.1 release window! What I have is somewhat untested but works for my purposes. I’ll send you a PR of what I’ve got when I get back to my computer and you can give me your comments.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-04 13:14] gruns commented on #4
This is information is required, in some capacity, to preserve tokens
with abiguous Markdown renderings, like headers, emphasis, list item
prefixes, etc. Without such, there's no way to preserve the input's
character choice. E.g. mistletoe can't know whether to render the
input `**Strong**` as `**Strong**` (correct) or `__Strong__`
(incorrect).

@nickovs Any progress on your PR? And how does your

[2018-07-19 09:33] daniele-niero opened #53 "compatibility with Python 2 💡"
Hi, and thanks for this module.

I'm developing an API documentation tool for python, because I find Sphinx over-engineer, reSt less readable then Markdown, and using *inspect* instead of *ast* limiting.
Anyhow, for this project I was using Python-Markdown, but I'm bothered by critics toward Markdown lack of precise specs ([some ](http://www.zverovich.net/2016/06/16/rst-vs-markdown.html) call it *

[2018-07-20 15:15] miyuchina commented on #4
Sorry for the late reply, I've been busy with other commitments for the past half month. Hopefully in the next week or so I can squeeze in some time to work on this feature.

I already have two commits on a local branch implementing location information. There are tricky cases, and I still need to think about how they fit together in the Markdown renderer. This is just to say that I'm working on i

[2018-07-20 15:30] miyuchina commented on #53
Hi Dan, thanks for the interest!

It sounds like you are trying to write a new library that depends on mistletoe. If so, might I suggest you not worry about 2.7 support in your library either? Support for Python 2 is ending in just over a year, and I really think it is high time for the community to move forward.

mistletoe is not supporting Python 2 for two reasons:

1. it is a version of Python

[2018-07-23 15:31] daniele-niero commented on #53
Hi miyuchina,

I see your point.
Unfortunately for me is not that simple. I'm building this tool in my spare time but mainly to use it with libraries I coded or use at work. In my industry (Animation, games and visual FX) we are all using Python27. As you mentioned, in a little more than a year, python 2.7 will go un-maintained, but I can't just assume the whole industry will drop years of code ba

[2018-07-26 08:39] #53 closed

[2018-08-20 11:00] jcheger opened #54 "lists should not contain <p>"
Why do you use &lt;p&gt;&lt;/p&gt; in lists ? This is not the way Commonmark does it.

Other strange behavior: in the same document, some lists get the paragraphs, some others don't. Could you explain how it is supposed to work ?

[2018-08-20 12:26] miyuchina commented on #54
Hi there!

According to [CommonMark](https://spec.commonmark.org/0.28/#loose):

So:

[code]

... will be rendered to:

[code]

And:

[code]

... will be rendered to:

[code]

Can you attach the wrong example you're seeing?

[2018-08-20 13:44] jcheger commented on #54
I did revert my code to use markdown, that does not have this behavior.
But, in deed, the last block list is right, but all the ones before get paragraphs.

Example:

[code]

Block 1 and 2 get paragraphs, and block 3 (last one) is ok.

[2018-08-22 20:50] nosammai opened #55 "Specify initial header level on HTML output"
Hi,

Sorry if this is a silly question, but I'm trying to parse some markdown and embed it as html inside of a page on my web application. This page already has a couple levels of Header tags, so I'd like for the headings inside the markdown to start at \<h3\> rather than \<h1\>. Is it possible to pass in an initial header level to the HTMLRenderer?

Thanks!

[2018-08-25 23:38] miyuchina commented on #55
Hey! Not stupid at all, although it is going to be slightly more complicated than passing in a value. Something like this will do:

[code]

... and you can use `MyRenderer` just like `HTMLRenderer`.

Let me know if you have more questions!

[2018-08-31 03:07] nosammai commented on #55
Awesome, that worked great. Thank you!

[2018-08-31 03:07] #55 closed

[2018-08-31 09:45] Rogdham opened #56 "Document side-effects of renderers' initialisation"
Hello, this is possibly an issue concerning the doc and not the code.

* Parsing **outside** of the renderer's context manager:
[code]

* Parsing **inside** of the renderer's context manager:
[code]

Not sure where the difference in output comes from. CommonMark asks for the second output though, which seems to be what is performed in `mistletoe.markdown` and by the `mistletoe` command line.

***

[2018-08-31 09:57] Rogdham commented on #56
It seems that in fact it is not the use of a context manager that changes things, but the initialisation of the `HTMLRenderer` **before** the call to `Document`:

[code]

[2018-08-31 10:20] Rogdham commented on #56
Ok so as to why this is happening, if I'm not mistaken:

 * `HTMLRenderer.__init__` calls `BaseRenderer.__init__` with `(HTMLBlock, HTMLSpan)` as `extra`
 * `BaseRenderer.__init__` will then register `HTMLBlock` and `HTMLSpan` with e.g. `block_token.add_token`
 * so `HTMLBlock` and `HTMLSpan` will now be tokenized

And if the renderers are always called inside a context manager, it's all good sinc

[2018-09-03 02:01] #54 closed

[2018-09-03 02:09] miyuchina commented on #56
Hey there, thanks for this!

I agree with your points, and yes it is a bit confusing to have side-effects in renderer initializations. I'm actually considering getting rid of this behavior, and thus removing the necessity of using context managers entirely. Would that be a better solution? I'll also allow `HTMLBlock` and `HTMLSpan` to be tokenized by default in `ASTRenderer`.

I'll see if I can do

[2018-09-03 09:00] Rogdham commented on #56
I guess so.

For what it's worth, here is what I was expecting when I first encountered missletoe last week:
 * Specify which tokens to be generated when doing the parsing phase: given that it seems to be done by `Document`, I would expect to write something like `Document(md, extra_tokens=[GithubWiki])`
 * Then, the returned value could be rendered by different renderers without needing to parse

[2018-09-06 09:25] Rogdham opened #58 "FileWrapper backstep after StopIteration"
When you reach the end of a `FileWrapper`, continuing to call `__next__` still increases `_index`. As a result, you would need to call `backstep` that many times.

Example code:
[code]

For me that's one call too many to `backstep`.

Moreover, if the `StopIteration` is raised more than once, you need to call `backstep` that many times (which means that you need to know how many times the exception

[2018-09-06 13:09] miyuchina commented on #58
Yeah, this behavior should be changed. Are you willing to open a pull request, or should I apply the patch?

Thanks again!

[2018-09-06 13:28] miyuchina commented on #56
The interesting thing about this is that `Document` is not meant to be the only entry point to parsing. My original intention is that users are free to swap out `Document` entirely for their own class, thus having a greater control over parsing (see, e.g., the amount of Markdown-specific logic in `Document.__init__`).

But separating parsing and rendering phases is a very good suggestion. I'll see

[2018-09-06 13:29] #58 closed

[2018-09-06 16:51] WhiteHalmos opened #60 "Allow tables without headers"
Seems like there is support for allowing tables without headers (https://github.com/miyuchina/mistletoe/blob/master/mistletoe/block_token.py#L622) but it doesn't seem to be allowed by parsing (https://github.com/miyuchina/mistletoe/blob/master/mistletoe/block_token.py#L661).

Would you consider allowing headerless tables? Perhaps something like the following would be a headerless-table?

[code]

[2018-09-06 16:59] WhiteHalmos commented on #60
I guess another option is I can write my own custom token that doesn't do the check for '---' in read. Although, an example of a custom block-level token in the README would be nice. :)

[2018-09-06 18:56] miyuchina commented on #60
I'm going to treat this as a bug and fix it in the implementation. For additional documentation of custom block-level tokens, I'm opening a new issue.

Thanks for this!

[2018-09-06 18:57] miyuchina opened #61 "Add documentation for custom block-level tokens"
From #60.

[2018-09-20 08:12] href opened #64 "Normalising Line-Endings"
When `\r\n` is used for line endings, the behaviour can be a bit surprising:

[code]

I stumbled on this today and I thought I'd report it. Not sure what the correct behaviour should be though. I only found it mentioned here: https://talk.commonmark.org/t/carriage-returns-and-code-blocks/2519

[2018-09-20 08:27] href opened #65 "Unexpected Paragraph Tag in Lists"
When using an ordered and an unordered list in a single markdown, unexpected paragraphs are used inside the list items:

[code]
Result:
[code]

If the lists are rendered separately, no paragraph is used. Almost looks like there exists some shared state.

[2018-11-05 17:29] abathur opened #68 "pypi / source distribution"
@miyuchina I'm testing out a dependency-management tool for the nix language / package system and it fell on its face when it tried to find a source distribution for mistletoe on pypi.

Can you look into getting one uploaded? :)

[2018-11-08 15:46] vallentin opened #70 "Inline code results in surrounding emphasis being ignored"
If the first element within an emphasis is inline code, then the surrounding emphasis is ignored.

Case:

[code]

Result:

[code]

Desired Result:

[code]

Searching in [CommonMark specification](https://spec.commonmark.org/0.28/) I wasn't able to find whether this was defined and intended or a bug.

This does however deviate from how Markdown is rendered on GitHub, Stack Overflow and in Visual St

[2018-11-15 13:24] vallentin opened #71 "Get parent token"
I've implemented a custom `HTMLRenderer`, where I want to know if `render_image` is the only element on a paragraph.

Essentially be able to differentiate the output between these:

[code]

This could be possible if `token` has a `parent` attribute.

[code]

Currently I have a `_set_parent` function, that is applied to `Document` in `render`.
However it would be nice, if this was part of mistletoe

[2018-12-21 21:51] skairunner opened #74 "HTML output without inline HTML blocks"
Markdown that doesn't accept inline HTML is a common use-case for comments and as a quick way to sanitize input. A contrib renderer that renders HTML while escaping inline HTML tags would be convenient to have.

I'm trying to implement this myself--unless my initial tests are wrong, it seems I can simply inherit from HTMLRenderer and override the `render_html_block` and `render_html_span` methods-

[2018-12-21 22:50] skairunner commented on #74
One downside of the current method is that any line or lines that count as an HTMLDiv do not have a wrapping <p>.

[code]

This doesn't happen to tokens counted as span. I'm not sure what the best way to implement wrapping <p> on HTMLBlocks is. (1) is the quick and simple appending/prepending <p> manually on the `LimitedHTMLRenderer.render_html_block` method, but I wonder if this could cause probl

[2019-01-22 01:06] karlcow opened #76 "Combine independently defined renderers"
Is it possible to combine different Renderers (a bit the same way python markdown makes it possible to chain the extensions).

[2019-01-26 05:06] Freakwill opened #78 "use pylatex to render latex"
`Pylatex` can produce more pretty latex codes.

[code]

[2019-02-25 22:21] mbacchi opened #80 "Python 2 fork link in README.md is dead"
The URL in the [README.md](https://github.com/miyuchina/mistletoe/blob/master/README.md) for the [Python 2 fork](https://github.com/daniele-niero/mistletoe/tree/python2_compatibility) does not work.

[2019-03-04 16:33] Rogdham commented on #53
Continuing discussion in #80

[2019-03-04 16:39] Rogdham opened #81 "0.7.2 release"
Hello @miyuchina, what do you think about bumping the minor version to `0.7.2` and uploading a new version to PyPi?  :package:

[2019-03-28 14:07] Jyhess commented on #4
Hi, any news on this feature?
Like @nickovs we are documenting our project with Markdown, and we need a parser to extract or add some information. Mistletoe is great for parsing, with a data tree easily manipulable (thank for this work). We just need a way to write modified structure.
I don't have time yet to write it by myself, but I can test it and provide feedback.

[2019-04-30 06:30] weyou opened #82 "different output on two list"
[code]
output
[code]
Note that the list in A part rendered as `<li><p>text</p></li>`,  but B part rendered as `<li>text</li>`.

What's the difference between part A and part B? I think both of them should be rendered as the same html code.

[2019-04-30 08:09] weyou commented on #82
Duplicate of #65

[2019-04-30 08:09] #82 closed

[2019-05-23 13:15] find456789 opened #83 "Code Injection bug"
1. download the file(https://github.com/cujanovic/Markdown-XSS-Payloads/blob/master/Markdown-XSS-Payloads.txt) rename to 123.md

2. run` mistletoe 123.md > out.html`

3. open `out.html`

![image](https://user-images.githubusercontent.com/6580897/58255517-bc10cb00-7d9f-11e9-81d1-3e0c8776b9ef.png)

how to fix it,

thank you very much

[2019-05-26 09:22] find456789 opened #84 "how to add “target="_blank" to link"
how to add `target="_blank` to link

when i add a href `https://github.com/miyuchina/mistletoe`

i got `<a href="https://github.com/miyuchina/mistletoe" rel="nofollow">https://github.com/miyuchina/mistletoe</a>`

---

i hope i got `<a href="https://github.com/miyuchina/mistletoe" rel="nofollow" target="_blank>https://github.com/miyuchina/mistletoe</a>`

 **target="_blank**

[2019-06-06 08:44] Rogdham commented on #84
Try overriding the `render_link` and `render_auto_link` (that one is for `<https://example.com/>`) methods in a new renderer.

Something like this:
[code]

[2019-06-06 09:50] find456789 commented on #84
@Rogdham

  thank you very much

[2019-06-06 09:50] #84 closed

[2019-06-08 18:02] miyuchina commented on #65
Should be fixed by 5191b42.

[2019-06-08 18:02] #65 closed

[2019-06-08 18:07] miyuchina commented on #80
Removed in 9309a0c.

[2019-06-08 18:07] #80 closed

[2019-06-08 18:48] miyuchina commented on #83
Thank you for this--I don't actually think, though, that it is up to the parser to strip user input of malicious content. Especially since mistletoe is written in Python, its output is less likely (than some JavaScript parsers, at least) to be hooked directly into a front-end. Stripping html tags, as discussed in #74, might be a possibility, but still cannot prevent XSS injections completely, and

[2019-06-08 18:55] miyuchina commented on #78
I'm interested in this. Will you be willing to write a renderer for this, preferably in `pylatex_renderer`, so that people who do not want to install an additional package have the default `latex_renderer` to fallback on?

If not, I can also look into this in a few. Thanks for the suggestion!

[2019-06-08 19:04] miyuchina commented on #64
I can't find any authoritative answers from CommonMark either. I used to replace `\r\n` line endings with `\n` in `Document.__init__`, but stopped doing so after I discovered that Python's `open` function automatically normalizes line endings. See the [documentation](https://docs.python.org/3/library/functions.html#open-newline-parameter) on `open`'s `newline` parameter.

Is there a reason you wou

[2019-06-08 19:28] miyuchina commented on #81
Just released 0.7.2!

[2019-06-08 19:28] #81 closed

[2019-06-08 19:28] miyuchina commented on #68
I uploaded a source distribution to pypi for version 0.7.2. Let me know if that works for you!

[2019-06-08 19:28] #68 closed

[2019-06-10 02:45] Freakwill commented on #78
Following is just an attempt, not applying all features of `pylatex`, such as package propagating, there must be a better one.

`pylatex_renderer.py`:

[code]

[2019-06-10 07:44] Rogdham commented on #81
Thank you for this and your work on other issues/PR the other day, this keeps the project alive :+1:

[2019-06-10 17:05] huettenhain opened #85 "Problem rendering pipe characters in code blocks within tables"
Hello, thank you heartily for this great library. It took me quite few months to encounter a bug, which I am reporting here.

Mistletoe seems unable to render pipe characters in code blocks within tables. Here is an example of observed behavior:

    mistletoe [version 0.7.2] (interactive)
    Type Ctrl-D to complete input, or Ctrl-C to exit.

    ... |---    |---     |
    ... | `<|>` | `<|>`  |

[2019-07-18 22:16] fqxp opened #86 "Multiple strikethrough tokens on one line don’t parse correctly"
When there are multiple strikethroughs on one line, mistletoe only generates one `<del>` element as a result:
[code]

where I would expect two separate `<del>` elements:

[code]

[2019-09-03 15:16] andy0130tw opened #88 "Cannot read TOC after rendering with contrib.toc_renderer"
I just came across for surveying some CommonMark implementations in Python and noticed the TOC feature. It seems nice, but unfortunately I couldn't get it to work. Here is the minimal reproduction of this bug:

Setup:

[code]

In this directory, run the following code:

[code]

The last line try to access the TOC tokens, raising an error:

[code]

7 is because `# aaa` is transformed to (2 spaces +

[2019-09-03 15:31] andy0130tw commented on #88
Here is an ad-hoc patch to `contrib.TOCRenderer`:

[code]

[2019-10-01 13:43] butuzov opened #89 "List Items separated by tab character not parsed correctly"
List items that follow next scheme `list_bullet|tab|item` (plese ignore `|`) not parsed as list items.

## Example `test.md`
[code]

### Test Code
[code]

### Expected Output
[code]

### Actual Output
[code]

[2019-10-01 13:48] butuzov commented on #89
If the first item of the list has space betwean * and `text`, and next is `tabbed`.

output is next
[code]

[2019-11-06 06:47] liushilive opened #91 "Inline code for tilde invalidly parsed as code block start"
## The sample code

[code]

## analytical result

![image](https://user-images.githubusercontent.com/13434707/68274490-3dd18800-00a4-11ea-8358-db51e7b0335f.png)

[2020-02-20 03:37] choldgraf opened #92 "A book publishing project interested in helping out w/ Mistletoe"
Hey there @miyuchina 👋  - I wanted to introduce myself and a team that I am working with.

We are a group of academic researchers who are working on a tech stack to build open, reproducible documents with Python. We've been doing a survey of the Markdown landscape in Python, and think that Mistletoe is a really nice balance between clean design, performance, extensibility, and adherence to the Com

[2020-03-17 09:27] eimfach opened #95 "Change html output for a paragraph"
Hey there,

Is it possible to change the output for a paragraph from a `p` tag to `blockquote` tag ?

For example, I have this markdown line:

`Lorem ipsum solor dit amed`

Mistletoe wraps this in a `p` tag, but I want a blockquote.

is this possible ? Also, how could I add css classes to the blockquote ?

Thanks !

[2020-03-29 01:32] whatisjasongoldstein opened #96 "Italics parsing broken when underscore is followed by some characters"
Suppose you have a possessive on an italicized word, like a book.

[code]

It works as expected, with the book title wrapped in `<em>`.

But if the apostrophe is a smart quote, it doesn't apply the same treatment.

[code]

I'd be happy to help fix this but can't find where the handling of the first rule is coming from.

Thanks!

[2020-05-01 04:53] chrisjsewell commented on #92
FYI we ended up creating a seperate fork of this https://mistletoe-ebp.readthedocs.io, but now have actually moved to using https://github.com/executablebooks/markdown-it-py

[2020-05-25 17:44] pelid opened #98 "IndexError when parsing unfinished-link-like text"
Got unexpected `IndexError` during rendering of preview for user input. Steps to reproduce are below:

[code]
[code]

Looks like a bug.

Was used mistletoe of version 0.7.2.

[2020-07-01 10:08] PatrickMassot opened #99 "Surprising Heading.content"
In the following code, I was expecting to see my two titles printed.
[code]
But this prints the second title twice. To get the result I expected, I need to write `print(doc.children[0].children[0].content, doc.children[2].children[0].content)`. I don't know if this is a bug or expected behavior, but I justed wasted half an hour on this.

[2020-07-05 19:58] pbodnar commented on #99
Hi, this really is the expected behavior. Because by writing `doc.children[0].content` you access a somewhat-private, class-scoped helper property `content` of the Heading class. So yes, accessing the parsed text by `doc.children[0].children[0].content` instead is the correct way.

If you want to know how to access the parsed structure, the best is probably to run mistletoe with the `ASTRenderer`

[2020-07-05 20:15] pbodnar commented on #98
Hi @pelid, the `# Header with [link](` from your testing input is not a valid markdown - the link code is not finished, so the parsing logically fails. So is your requirement to return some nice error from mistletoe in this case? I would see this as a feature request then.

[2020-07-05 21:03] pbodnar opened #101 "Make renderers from the "contrib" folder easier to use"
From my point of view, there are currently two gotchas about the "contrib" folder:

1. If one just installs mistletoe by running `pip install mistletoe` (or `pip install .` after Git cloning), the renderers from the "contrib" folder are not available when running mistletoe from any location. Unless one clones the Git repo and passes full (relative) path to a renderer. (I tried to describe this in

[2020-07-05 21:17] PatrickMassot commented on #99
Ok, thanks for the explanation. Feel free to close this issue, but I think some more documentation would be helpful here. I don't think it is such an exotic thing to do (I wanted to make the first h1 into the title of the whole thing in some metadata associated to the file).

[2020-07-06 06:59] pbodnar commented on #99
@PatrickMassot, you're welcome. :) I'm not this project's maintainer though, so I can't close this issue. Anyway, I agree with you this could be documented, probably on the [Contributing](https://github.com/miyuchina/mistletoe/blob/master/CONTRIBUTING.md) page...

[2020-07-22 09:45] araspik opened #102 "Incorrect (?) escaping of `;` (semicolon) in HTML-rendered link targets"
To reproduce:
[code]

Expected output (prettified):
[code]

Actual output (also prettified):
[code]

Apparently, mistletoe is escaping the `;` (semicolon) into `%3B` in URLs even when it's a valid URL character.

The CommonMark spec says the following ([found below example 498](https://spec.commonmark.org/0.29/#example-498)):

The issue seems to come from [`mistletoe/html_renderer.py:HTMLRenderer.

[2020-09-09 07:59] stfenjobs opened #103 "你好，有中文文档吗"

[2020-09-09 08:18] find456789 opened #104 "is support GitHub Flavored Markdown Spec ?"
https://github.github.com/gfm/

[2020-09-09 22:24] pbodnar commented on #103
@stfenjobs, just a mis-click?

[2020-09-28 08:43] #103 closed

[2021-01-05 20:58] anderskaplan commented on #95
Hi @eimfach, the way to represent a blockquote in Markdown is with the greater-than sign, like this:
`>Lorem ipsum solor dit amed`

which will be rendered as:

[2021-03-15 01:22] Titanexx opened #106 "HTMLBlock isn't parsed."
HTMLBlock isn't parsed unless you add it manually
(Test comes from https://spec.commonmark.org/0.28/#example-139)

Test script :
[code]

Which produces :
[code]

Remediation:

Change the block_token.__all__ var like :
[code]

[2021-03-24 20:21] matthubb commented on #4
2 years later bump?

This is the most promising thread I could find for a `Markdown -> AST -> Markdown` solution, but nothing published so far?

[2021-05-06 13:10] bumbread opened #107 "Bug in table rendering with code blocks."
The rendering of the following markdown table is incorrect.
[code]
The library interprets the pipe symbol as being the table column separator.

[2021-05-06 16:47] huettenhain commented on #107
This might be a duplicate / related to #85, but it is my impression that mistletoe might be abandoned. At the time of writing, I would suggest to check out [mistune](https://pypi.org/project/mistune/) which seem to be actively maintained; there are a few projects of mine that I am planning to port from mistletoe to mistune in the near future.

[2021-06-23 19:41] enderger opened #108 "Update to CommonMark v0.30"
Recently, the CommonMark spec got an update. While the project may be inactive, if an update was awaiting the spec now is the time to do it.

[2021-09-17 18:47] pbodnar commented on #107
Yes, I'm closing this as duplicate, thank you for reporting it anyway. :)

[2021-09-17 18:47] #107 closed

[2021-09-17 19:09] pbodnar commented on #91
This seems easy to fix - the regex pattern needs to accept either just backticks, or just tildes. The linked fix seems a little bit more complicated though...

[2021-09-17 19:21] pbodnar commented on #102
Good catch. The point is that `quote()` by default escapes also nearly all "special" characters. I would possibly fix this issue as you suggest. This should be also done for the other existing renderers, not just HTML.

[2021-09-17 19:37] pbodnar commented on #96
It looks like this is not specific just to smart quotes, but generally also to other characters, like a-z. If the text between underscores should be parsed as an emphasis anytime, then this is a really a bug.

[2021-09-17 19:40] pbodnar commented on #95
It looks like the question was answered. Thank you. :)

[2021-09-17 19:40] #95 closed

[2021-09-17 19:55] huettenhain commented on #107
Boy, am I happy to see activity here. ❤️

[2021-09-18 06:00] pbodnar commented on #70
Thank you, confirmed. Moreover according to my tests, this happens not only for `*`, but also for `_` or `**`. The only "immune" one is `~~`, probably because unlike the former ones, this one is not parsed as a "core token".

[2021-09-18 06:19] pbodnar commented on #96
I've just found a **workaround** until this gets fixed: use `*` instead of `_`, i. e. `*Book Title*’s author`.

[2021-09-18 06:45] pbodnar commented on #89
Thanks for the report.

**Workarounds** until fixed:
* Use `space` instead of `tab`.
* Put a new line after the previous block element (`title` here). Yet, this still leads to the 1st letter of a "tab" list item being removed though.

[2021-09-18 07:32] pbodnar commented on #88
Thanks for the report and the proposed fix.

I can confirm that surprisingly the unit tests really do not test the whole scenario. That's why they didn't reveal the error of passing quite different arguments into the `List` constructor than actually expected (list of strings vs. list of tuples).

[2021-09-18 08:24] pbodnar commented on #74
Or, as an alternative and hopefully working solution, what about simply disable parsing of HTML elements? I. e. change the following line in your `HTMLRenderer` version:

    super().__init__(*chain((HTMLBlock, HTMLSpan), extras))

... to:

    super().__init__(*chain((), extras))

The existing `HTMLRenderer` could possibly take a boolean init parameter that would encapsulate this switching.

What

[2021-09-18 08:55] pbodnar commented on #106
I'm closing this as a duplicate of #56: the solution is to create `Document()` inside a `with HTMLRenderer() as renderer` block. Or call `mistletoe.markdown(fin, HTMLRenderer)` which effectively does the same for you.

But thanks for reporting this, it at least shows that the documentation needs to be updated (before ever changing the API as suggested at the same issue).

[2021-09-18 08:55] #106 closed

[2021-09-18 09:14] pbodnar commented on #104
Well, you may use `GithubWikiRenderer` (https://github.com/miyuchina/mistletoe/blob/master/contrib/github_wiki.py) that supports GitHub wiki-style links (i. e. `[[title | target]]`). But this doesn't seem to be a part of the GFM spec. Anyway, how to identify all the possible differences of mistletoe from GFM? Ideas?

[2021-09-18 09:18] pbodnar commented on #76
I guess without some code changes it is not possible. Can you please add some details of how it would be used?

[2021-09-18 20:27] pbodnar commented on #91
OK, so I fixed it this in the master.

Note that there is still another bug, possibly also in the linked patch from @chrisjsewell, which incorrectly rejects a fenced code block like this:

[code]

GitHub renders this correctly:

[code]

... because https://spec.commonmark.org/0.30/#info-string clearly states that:

[2021-09-18 20:27] #91 closed

[2021-09-18 20:34] chrisjsewell commented on #91
Heya, I would just note that I moved on from mistletoe, since it didn't quite have the features I needed, and went on to create https://github.com/executablebooks/markdown-it-py (and port for the widely used markdown-it)

[2021-09-18 20:37] chrisjsewell commented on #4
Heya, just to note https://github.com/executablebooks/markdown-it-py provides a markdown -> markdown render via https://github.com/executablebooks/mdformat

[2021-09-18 21:01] #86 closed

[2021-09-18 21:20] pbodnar commented on #86
@fqxp, fixed by _manually_ merging your PR #87, thank you!

[2021-09-18 21:33] pbodnar commented on #4
@chrisjsewell, that looks promising, thanks for the tip. 👍 I think it would help you if you mentioned this, or how to use different renderers (which ones?) generally, somewhere at the top of your docs for markdown-it-py. I've searched through them quickly and I couldn't find much info on that topic.

[2021-09-18 21:36] chrisjsewell commented on #4
Yeh no worries it's on the todo list 😅 https://github.com/executablebooks/markdown-it-py/issues/10#issuecomment-692917352

[2021-09-18 21:46] pbodnar commented on #91
Hi Chris, yeah, I've already noticed very well when doing triage of opened issues and PRs here, and I wish you good luck with your project. :)

[2021-09-19 09:45] pbodnar commented on #102
OK, so it is fixed now in the master. All 3 renderers (_HTML_, _Jira_, _XWiki_) use the same set of safe characters now (each can theoretically use a different set in the future):

    /#:()*?=%@+,&;

All 3 also unescape XML character references firstly now, which seems to be generally required by the CommonMark spec linked above:

So I hope the fix is correct.

The only renderer left to fix is fo

[2021-09-19 09:45] #102 closed

[2021-09-19 09:54] pbodnar opened #114 "LaTeXRenderer: Escape special characters in URLs of generated links"
The LaTeX renderer doesn't currently do any URL escaping in links:

[code]

This may lead to unexpected results / errors. The escaping should be done similarly to what can be seen for example at #102.

[2021-09-19 10:02] pbodnar commented on #114
HELP WANTED: I'm no expert on LaTeX and I cannot find a useful documentation on this topic for it quickly. Maybe all that is needed is to URL-encode characters as described at [Encoding of umlaute and special characters in \href links](https://tex.stackexchange.com/questions/417129/encoding-of-umlaute-and-special-characters-in-href-links/417154#417154), i. e. as the other renderers in mistletoe do

[2021-09-19 10:31] pbodnar opened #115 "HTMLRenderer: Revise usage and implementation of `html_escape()`"
The implementation of `html_escape()` seems a bit inefficient and it also escapes `"` when it is not actually necessary.

Here is its source code:

[code]

I think that `html.escape()`'s boolean parameter `quote` should be probably used instead of the call to `replace()`: set `quote` to `False` when escaping text outside of an attribute value, set it to `True` otherwise. The rendered result will c

[2021-09-23 18:08] trollmao opened #116 "Is there a way to set allowed tags to parse?"
Suppose I would only like to parse italics, bold and headers. Is there a way to only parse `<i>`, `<b>` and `<h1-6>` tags?

[2021-09-24 20:51] pbodnar commented on #85
@huettenhain, thanks for the report. It looks like the GFM's approach seems to be even somewhat in-line with the CommonMark specification (https://spec.commonmark.org/0.30/#precedence). So I would go their way, i. e. to enable to escape `|` whenever it is inside a cell. I cannot quite imagine any other solution. That will mean the following changes in the code:

1. Ignore escaped pipes when splitt

[2021-09-25 10:22] huettenhain commented on #85
That seems perfectly reasonable to me, and I should add that I am very happy and grateful to see this nice library brought to life again.

[2021-09-26 20:15] pbodnar commented on #85
OK, thank you for your feedback, I think I will look at this next week then.

Yes, I was given write permissions by @miyuchina who seems to like my contributions, so hopefully I can bring the library a little bit further, even though it may have lost some users in the previous years. I take it as a challenge. :)

[2021-10-02 07:50] pbodnar commented on #116
Hi there, I don't think there's an easy / general way to say that just some Markdown constructs should be parsed. Fortunately though, this won't be needed by many mistletoe users, I guess?

Insight: While custom renderers can add their own extra tokens to be parsed, the default set of parsed tokens is pretty much hard-coded. There is also this [core_tokens.py](https://github.com/miyuchina/mistleto

[2021-10-02 20:22] pbodnar commented on #85
Just looking at this. I have some interesting findings:

1. According to <https://www.markdownguide.org/extended-syntax>, one can escape pipe by using its character reference (`&#124;`).
2. Yet, according to <https://github.github.com/gfm/#entity-and-numeric-character-references>, this is not possible within code blocks and code spans, because character references are not recognized there.

So no

[2021-10-02 21:36] pbodnar commented on #85
Another finding: It looks like even GitHub is not handling this **edge case**:

[code]

This results in just one cell in the row:

|a|b|
|-|-|
|ending with slash: \\|other cell|

Of course, users will hopefully never do something like that. So I wouldn't implement handling of this edge case now. It would probably require using something more complicated than a simple row-string split (which just c

[2021-10-02 22:07] pbodnar commented on #85
@huettenhain, so I prepared the implementation in a [dedicated branch](https://github.com/miyuchina/mistletoe/compare/feature/escaped-pipes-in-table-cells). Can you please check it out, together with my notes above?

[2021-10-09 17:43] pbodnar commented on #85
close: I merged the branch, enjoy and feel free to reopen in case of any problems.

[2021-10-09 17:43] #85 closed

[2021-10-09 17:51] huettenhain commented on #85
Ah, I am so sorry, I just couldn't get to this. I think this is a good way to proceed, I will let you know if any problems arise.

[2021-10-09 18:02] pbodnar commented on #85
No problem, thank you. 👍

[2021-10-19 20:31] notEvil opened #118 "Pango renderer"
Hi,

I implemented a custom renderer you might be interested in: https://gitlab.com/notEvil/mt-pango
If you are and don't mind the extra dependencies, feel free to integrate it into mistletoe.

mistletoe is amazing btw!

[2021-10-21 18:43] pbodnar commented on #104
@averms, thanks for your tip, although I'm not quite sure how to grasp this - do you?

Anyway, I think it would come generally handy to have at least a manually-prepared list of features / specs implemented by mistletoe? Or something like a classical "comparison with other tools" table...

[2021-10-22 05:01] michaelforney opened #120 "Emphasized code span"
I noticed that mistletoe disagrees with cmark for the input ``**`foo`**``. cmark produces `<p><strong><code>foo</code></strong></p>` while mistletoe produces `<p>**<code>foo</code>**</p>`.

If the initial `**` is followed by some other letter, like ``**a`foo`**``, then they both produce the same output.

I believe this is a bug since the CommonMark spec says that a left-flanking delimiter run may

[2021-10-27 18:05] pbodnar opened #121 "Make CI work again"
The build on Travis seems to be broken for 2 main reasons now:

1. Python 3.3 seems to be no longer available for download and builds, that's why the last builds kept failing. This version should be therefore possibly removed from ".travis.yml".
2. Builds no longer run on travis-ci.org - migration to travis-ci.com needs to be done ([short setup tutorial](https://docs.travis-ci.com/user/tutorial/))

[2021-10-29 16:43] pbodnar opened #122 "Add missing documentation"
An aggregating documentation and refactoring task, with a dedicated Git branch.

`@mistletoe users`: What are you missing in the docs or in the code, what would you like to improve in this regard?

[2021-10-30 18:42] pbodnar commented on #99
Now when I can contribute to the project directly, I added a corresponding chapter _Understanding the AST_ in 14a0d9e85204f9d6b9f3746820658e18dfba5f8d. I hope that could suffice. Suggestions welcome. :)

[2021-10-30 18:42] #99 closed

[2021-10-30 19:37] pbodnar commented on #56
Thanks for your suggestions. :)

So I've tried to document the side effects as originally requested. See f5ea6d66f7084921fd403030f7faebe312935c8d. I hope this will suffice for now.

Regarding separating parsing and rendering phases, I hope we will get to this one day, but let's do this in a separate ticket.

[2021-10-30 19:37] #56 closed

[2021-10-30 19:39] pbodnar commented on #106
Done: f5ea6d66f7084921fd403030f7faebe312935c8d. :)

[2021-10-31 23:02] Titanexx commented on #106
Thanks for support :)

[2021-11-10 09:19] ddevault opened #124 "Mistletoe hangs when parsing some specifically formatted Footnotes"
[code]

This never returns, or at least does not return within the limits of my patience.

[2021-11-10 19:18] pbodnar commented on #124
Hi, it looks like this is caused by mistletoe not quite expecting CRLF line-endings in the input - see #64. From my quick testing, it freezes because of the _last_ `\r\n`. The stacktrace is like this (after pressing `ctrl`+`c`):

[code]

[2021-11-10 19:24] pbodnar commented on #124
So I would classify this as an enhancement with a **workaround**: use simple `\n` if you need to create an input string with line-endings programmatically (or possibly use a [multi-line string](https://www.w3schools.com/python/gloss_python_multi_line_strings.asp)).

OK for now?

[2021-11-11 07:54] ddevault commented on #124
I would not classify a problem in which any input causes the library to hang forever as in need of an enhancement, but rather suffering from a bug. Consider that this is a DoS vector.

I will apply an appropriate workaround (converting CRLF to LF) in my software, but this is definitely a bug and probably an urgent one at that.

[2021-11-12 21:47] pbodnar commented on #124
Good news, it looks like I found the culprit in the `Footnote.backtrack()` method / call. I guess I can come with a fix soon.

[2021-11-13 18:25] pbodnar commented on #124
Fixed in the master branch. It has shown that any whitespace character before `\n` can break the parsing, not just `\r`.

[2021-11-13 18:25] #124 closed

[2021-11-14 07:15] ddevault commented on #124
Thanks!

[2021-12-18 19:09] #122 closed

[2022-01-05 17:08] #83 closed

[2022-01-05 17:10] #104 closed

[2022-01-05 23:11] Tritaya opened #125 "Contrib folder not available after pip install"
I have installed the package through pip install mistletoe.

However, I don't see the contrib folder and namely toc_renderer.py (which I want to use) in it.

Am I missing something?

[2022-01-08 09:00] pbodnar commented on #101
For the beginning, I have at least tried to document this: 86fe3a87b4d80d596b773c9e50aa6c2b5c4aa826.

[2022-01-08 09:02] pbodnar commented on #125
Yes, I was confused as well when firstly finding this out -> ideas are welcome at #101 where this issue is discussed.

[2022-01-08 09:02] #125 closed

[2022-01-08 17:44] gvwilson opened #126 "question: parsing HTML in Markdown files"
Is there a way to get mistletoe to parse HTML tags in Markdown documents? My test program is:

[code]

and its output is:

[code]

Based on https://spec.commonmark.org/0.30/#example-152 from the CommonMark spec, I was expecting a `{'type': 'Div', ...}` node in the AST - is there a way to get that?

[2022-01-10 03:58] gvwilson opened #127 "duplicate files docs/CONTRIBUTING.html and docs/contributing.html"
When cloning the repo on MacOS I get a warning:

[code]

[2022-01-10 03:58] #126 closed

[2022-01-10 20:33] gvwilson commented on #127
Thanks @pbodnar - much appreciated. Are you doing most of the maintenance these days?

[2022-01-10 21:01] pbodnar commented on #127
Yes, I do, I was given contributor rights by Mi Yu some time ago. I mostly do some minor updates or merge PRs when I have time and when in a good mood... :) So, contributions are welcome, but I cannot guarantee when I will get to them...

[2022-01-13 21:05] pbodnar commented on #127
OK, so I have removed the extra "docs/CONTRIBUTING.html" file and added a README file with a deprecation note. I guess that this could suffice for now.

[2022-01-13 21:05] #127 closed

[2022-01-15 10:25] pbodnar commented on #120
@michaelforney, thanks for your report - this is in fact covered by #70 already. But at least you've made me to look at it more closely this time and I think I've already found the culprit. :)

[2022-01-15 10:25] #120 closed

[2022-01-15 10:40] pbodnar commented on #70
Looking at this closely now...

Strangely enough, it looks like even the latest CommonMark spec ([txt](https://github.com/commonmark/commonmark-spec/commits/master/spec.txt)) doesn't seem to cover this very basic use case of having a simple *emphasized code span* like *`foo`*:

    *`foo`*

That's why running `make specification` doesn't find this error.

Anyway, it looks like I've found the culpr

[2022-01-15 13:58] pbodnar commented on #70
OK, so hopefully fixed without any side effects (see commit above). :)

[2022-01-15 13:58] #70 closed

[2022-01-15 14:53] pbodnar opened #128 "Opening brackets incorrectly skipped when parsing (CommonMark ex. 551)"
There is a negative side effect from the fix of #124: The [CommonMark example 551](https://spec.commonmark.org/0.30/#example-551) won't pass, because the opening brackets are skipped now:

[code]

The example is mostly artificial and hopefully not used in practice, yet it would be good to have this fixed.

[2022-01-23 22:14] fr3aker opened #129 "exception when trying to parse incomplete link"
Trying to parse the string `[text](` results in an `IndexError`. Tested on v0.8.1.

[code]

[2022-01-23 22:17] fr3aker commented on #129
sorry, duplicate of https://github.com/miyuchina/mistletoe/issues/98

[2022-01-23 22:17] #129 closed

[2022-01-23 22:28] fr3aker commented on #98
I don't know what the best behaviour would be, but a random exception is likely the worst possible solution. A better behaviour would be a sane, catchable mistletoe exception on invalid markdown. However, it could be argued that it is just text that, on first sight, looks like possibly markdown, while it is in fact just text. It could be a weird smiley: `)[<>]("`. Would it be illegal to have this

[2022-01-24 17:48] fr3aker opened #130 "Failure to parse paragraph containing just "[""
Trying to parse a text that ends with `\n\n[` causes a `StopIteration` exception. Tested on v0.8.1.

[code]

[2022-01-29 09:22] pbodnar commented on #130
@fr3aker, thanks for reporting.

Here are my remarks explaining why I've changed the issue title a bit:

* When a paragraph with just `[` is present and it is the last thing in text, `StopIteration` is raised.
* Otherwise the paragraph is _skipped_.

So it looks like a problem with parsing footnotes (footlinks) once again - might be related to #124. I will have a look at it.

[2022-01-29 09:35] pbodnar commented on #128
#130 was created in the meantime with more details, let's continue there...

[2022-01-29 09:35] #128 closed

[2022-01-31 12:08] not-my-profile opened #131 "Make tables GFM-compliant - support less than 3 dashes in delimiters"
As per the specification for [GitHub flavored Markdown](https://github.github.com/gfm/#tables-extension-) (GFM) the following markdown

[code]

should be rendered as a table:

| foo |
|-|
| bar|

However mistletoe does not do so since it expects at least three dashes:

https://github.com/miyuchina/mistletoe/blob/8447a42ffa9b83cd55b05b206e36113592723248/mistletoe/block_token.py#L643

It would proba

[2022-02-03 19:28] pbodnar commented on #130
OK, so hopefully fixed now, all tests, including `python -m test.specification` are passing. I also added some remarks in b47d16ca6e3049c0f22773fd0f942f40e4adf39d.

I cannot imagine any negative side-effects of this simple fix, yet some thorough testing of the master branch version is welcome.

[2022-02-03 19:28] #130 closed

[2022-02-03 19:43] pbodnar opened #132 "Blocks in between footlink definitions are skipped when parsing"
Once again, this is a problem found in the `Footnote`s parsing and while such a use is probably pretty rare, it would be good to have this fixed.

An example is given within a comment of [test/test_block_token.py](https://github.com/miyuchina/mistletoe/blob/master/test/test_block_token.py):

[code]

The cause of this problem seems to be that while searching for next footlink definition start (i. e

[2022-02-03 21:07] pbodnar commented on #132
So I've done some analysis, feel free to comment / correct me / suggest a solution. ;) I think I can come up with a fix, but I guess it will require a little bit more coding than in the previous fixes, as a good part of the current parsing logic has to be changed probably...

[2022-02-03 21:24] pbodnar commented on #132
Also found another problem: number of spaces before opening `[` is not checked in the lines following right after a link reference definition. So the following is invalidly parsed as 2 definitions instead of 1 definition + 1 code block:

[code]

[2022-02-04 19:40] pbodnar commented on #60
Looking at this in relation to the new issue #131...

It looks like the mistletoe's code is really kind of "schizophrenic", having one part prepared for allowing skipping of the header separator line, while another part banning it.

Anyway, this could be treated as an enhancement, as even _GFM_ doesn't support header-less tables. But others like _kramdown_ do ([a more complete list at SO](https://

[2022-02-04 19:54] pbodnar commented on #131
@not-my-profile, thanks for your report. This seems to make sense.

I have quickly checked and historically _GFM_ required 3 dashes (or "hyphens") in delimiters as well, but this has changed when #/github/markup/issues/371 was implemented (it is unclear when exactly that happened). And for example _kramdown_ is also happy with just 1 dash.

So I guess we can do this. The minimum of 3 dashes is che

[2022-02-04 20:35] pbodnar commented on #108
OK, I've just checked against v0.30 and 20 tests of 652 are failing. It will be quite a job to get all fixed, I guess. Any volunteers? :)

This is how to download new spec and run tests against it:

1) Change `VERSION` in "test/specification/spec.sh".
2) Run in bash:

[code]

[2022-02-04 21:38] pbodnar commented on #98
Fixed in the master. This turned out to be a very simple one. :) So I don't even add unit tests this time.

[2022-02-04 21:38] #98 closed

[2022-02-13 18:00] pbodnar commented on #121
FYI, the integration with Travis CI needs to be setup in "Settings > Integrations > Integrated apps" - only project / account _maintainers_ have got access there though. If we decide to go this way, we will have to ask @miyuchina then...

[2022-02-20 03:15] manojpatwardhan opened #136 "Parsing error in a specific case"
If I have this text in markdown:

    **_Week_**day

It converts to:

    ****day

Note that there is no space before "day".

But, if I add a space after the last pair of *, it works correctly. So this text:

    **_Week_** day

Converts correctly to:

    Week day

where "Week" is in bold and italic.

[2022-03-21 12:37] Lautron opened #137 "TypeError: 'str' object is not an iterator, when using example in docs"
# Error message
[code]
Tried using Python3.6 and Python3.10, but got the same error in both versions.

# Code that caused the error
[code]

# Example in Docs
From "Programatic Use" section on [Getting Started](https://mistletoe-ebp.readthedocs.io/en/latest/using/intro.html)
[code]
# Final comment
I am willing to help with whatever I can and I hope I'm not wasting anyone's time.

[2022-03-21 19:13] pbodnar commented on #137
Hi @Lautron, from your link [Getting Started](https://mistletoe-ebp.readthedocs.io/en/latest/using/intro.html) I can see you are probably using a fork of mistletoe: https://github.com/executablebooks/mistletoe-ebp?

Anyway, the error in your "Code that caused the error" seems to be hidden in the fact, that `Document()`, or `Document.read()` in your case, expects that you pass an _iterator_ object

[2022-03-21 19:13] #137 closed

[2022-03-21 19:40] pbodnar commented on #136
Hi @manojpatwardhan, I've made some formatting to your original report, let me know in case it is not correct.

I've tried to run the current version of mistletoe on the "problematic" input you write:

    **_Week_**day

Unlike you, I get this back (I paste the resulting HTML for simplicity here):

    <p>**<em>Week</em>**day</p>

I hope this is correct, because when testing here, I get the same r

[2022-03-21 23:48] Lautron commented on #137
Ohh, I see. It seems that I googled "mistletoe docs" and opened the first website that showed up without realising it was a fork.

Thanks for you help :)

[2022-03-29 14:36] fr3aker commented on #130
Took me a while to test this but I finally found time to and it's working very well now. I haven't seen any more parsing errors with 0.8.2! Thank you!

[2022-04-01 14:45] manojpatwardhan commented on #136
Thanks very much, Petr.

I will test next week and let you know what I find out. Appreciate your help and the fix!

[2022-04-04 13:52] greg-minshall opened #138 "**`what`:** gives odd output"
addmittedly
[code]
is an odd input.  but, mistletoe's output is
[code]
while commonmark's dingus' output is
[code]

[2022-04-06 07:09] return42 opened #139 "Support of Smart punctuation / Simple typographic replacements"
Is there any plan to support _Smart punctuation_?

By example en-dash, em-dash and _curly quotes_ [commonmark.js](https://spec.commonmark.org/dingus/?text=%0A-%20en-dash%3A%20foo%20--%20bar%0A-%20em-dash%3A%20foo%20---%20bar%0A-%20curly%20quotes%3A%20%27hello%27%0A&smart=1) ..

[code]

is rendered

[code]

Instead of smart punctuation it might be better to just do some simple typographic replaceme

[2022-04-09 11:28] kloczek opened #142 "0.8.2: pytest is failing in `test/test_contrib/test_github_wiki.py::TestGithubWiki::test_parse` unit and `DeprecationWarning` warnings"
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH point

[2022-04-09 15:48] pbodnar commented on #142
@kloczek, thanks for you report.

I have checked and the fact is that the **GithubWiki test fails** even for _older_ versions of mistletoe. The reason why we haven't noticed this so far is that we use `py -m unittest` (which can be seen in the "makefile" of this project) instead of the more-attractive `py -m pytest` here. And while `pytest` is generally able to run the `unittest` tests, this one f

[2022-04-09 16:20] pbodnar commented on #139
Hi @return42, AFAIK the support for _Smart punctuation_ as you describe is not in the plan, yet it might be something to consider - I think some kind of an optional "(raw)text replacements module" could be implemented...

And thanks to the link to [markdown-it-py](https://github.com/executablebooks/markdown-it-py) - it looks like a promising project, surely more active than this one and although d

[2022-04-09 17:04] kloczek commented on #142
BTW `unittest ` or `pytest` never should be used as `python -m foo` because when module is used that way pythois automatically adds current directory to `os.path`. This why there are `pytest` and `unittest` scripts which internally iimports those modules and executes the test suite framework code.

[2022-04-12 08:35] return42 commented on #139
@pbodnar TBH I am coming from reST markup (Sphinx-doc framework), we also have some content in our project written in markdown. For a while we used mistletoe to render some online (HTML) pages from this content but these days we changed to [markdown-it-py](https://github.com/executablebooks/markdown-it-py) since this is the same parser we used in Sphnix-doc (the myst-parser is based on).  Hope you

[2022-04-12 20:18] pbodnar commented on #138
Hi @greg-minshall, It looks like this kind of problem was fixed in [v0.8.2](https://github.com/miyuchina/mistletoe/releases/tag/v0.8.2) (see #70). Maybe you use an older version?

[2022-04-12 20:18] #138 closed

[2022-04-12 20:34] pbodnar commented on #139
@return42, yeah, I think your move is only logical, thx for the insight. :)

[2022-04-12 22:55] greg-minshall commented on #138
yes.  v.0.8.1.  (current, at least as of a day or so ago, on arch "aur".)  thanks!

[2022-04-13 19:08] pbodnar commented on #138
OK, so hopefully v0.8.2 from https://pypi.org/project/mistletoe/ will arrive into the AUR soon as well. :) I guess the community around Arch Linux manages that update process, somehow...

[2022-05-23 12:52] djmattyg007 opened #144 "Record line numbers on tokens"
I'm writing a tool to parse markdown files and verify that links are valid. To be able to provide the most valuable, accurate feedback, I need to be able to display line numbers to the user, so that they know exactly where in a file the broken link is.

Right now this isn't possible, because line numbers aren't recorded on token objects.

[2022-05-28 17:30] pbodnar commented on #142
@kloczek, OK, yet I can't see what the exact problem can be when calling `python -m foo` in this project. According to the [latest pytest docs](https://docs.pytest.org/en/7.1.x/how-to/usage.html), it is a supported way:

---

Anyway, if some "Python testing guru" could tell why the test GithubWiki fails when run via `pytest`, it would be great, even though I guess it is not of that high priority..

[2022-05-28 17:42] kloczek commented on #142
You can ask on pytest discussin forum https://github.com/pytest-dev/pytest/discussions

[2022-05-28 17:51] pbodnar commented on #144
@djmattyg007, I think that what you propose would be a pretty cool feature. In principal, it shouldn't be hard to implement, yet it would probably require some broader refactoring in order to track & store the context information (line, plus column would be also nice). I would also watch out for possible impact on performance, but I don't expect some human-noticeable difference...

I would like to

[2022-06-21 20:23] TheSecEng opened #146 "Unused imports"
Just looked at the Jira renderer and noticed that. the following are unused imports

https://github.com/miyuchina/mistletoe/blob/94022647cd9d80e242db5c93a6567e3155b468bc/contrib/jira_renderer.py#L24

https://github.com/miyuchina/mistletoe/blob/94022647cd9d80e242db5c93a6567e3155b468bc/contrib/jira_renderer.py#L29

[2022-06-22 20:51] pbodnar commented on #146
@TheSecEng, thanks for pointing that out.

I've created PR #147 for the case you or others would like to check the cleanup made. I think I will leave it open like for a week and then merge it if no one will protest. :)

[2022-06-24 10:42] sixhobbits opened #148 "question: how to render AST back to a markdown string"
Maybe a dumb question, but once I have the AST from a markdown file, e.g. with

[code]

Is there a way I can easily render the AST back to a markdown string again? Or would I need to write a custom markdown renderer to do the process in reverse.

My use case is that I'd like to make modifications to the AST and then write it back as a markdown file again.

[2022-06-24 19:09] pbodnar commented on #4
A brief summary and feedback after some time:

So far the use cases presented here, like this one, seem NOT to need any _location information_? Instead, it should be sufficient (or even required) to know _what enclosing characters_ were used in the input for a given token (which should be relatively easy to do). OTOH location information (BTW a feature freshly requested in #144) would be useful if

[2022-06-24 19:13] pbodnar commented on #148
Hi @sixhobbits, this is surely not a dumb question. :) Actually, this feature was questioned a while back in #4 which is still open and awaiting contributions. I have updated it with some fresh info, for the case you're interested...

[2022-06-24 19:13] #148 closed

[2022-07-03 15:41] #146 closed

[2022-07-03 15:51] pbodnar commented on #136
@manojpatwardhan, feel free to reopen in case you do find some error in the aforementioned use case.

[2022-07-03 15:51] #136 closed

[2022-07-03 16:28] pbodnar commented on #115
This was de-facto resolved within #135 - this method was made deprecated and it isn't used by mistletoe itself anymore. Also, HTML entities are unescaped earlier in the process now and simple `html.escape()` is called whenever necessary.

This means that we newly escape `'` as `&#x27;`, but nobody will probably complain about this. Also see [this comment within #135](https://github.com/miyuchina/m

[2022-07-03 16:28] #115 closed

[2022-07-04 21:26] joel-coffman opened #149 "LaTeX renderer does not handle inline code with vertical bars correctly"
Inline code that contains a vertical bar is not handled correctly by the LaTeX renderer. For example,
[code]
where the verbatim content ends at the first vertical bar, which omits " pipe|" from the inline code.

Because `\verb` delimits its argument using any non-letter symbol (I think that statement is correct), a different delimiter should be chosen that does not appear in the inline code. For e

[2022-07-04 21:28] joel-coffman commented on #149
I'm happy to create a pull request to fix this issue once it's confirmed to be a bug (and if my suggestion of choosing the delimiter dynamically is acceptable).

[2022-07-05 08:29] pbodnar commented on #149
@joel-coffman, thanks for your report and suggestion. I can confirm both, so I will be happy if you create a PR for this. In fact, I've stumbled upon this nearly 1 year ago while doing a code review [here](https://github.com/miyuchina/mistletoe/pull/93#discussion_r710502348), but apparently, the fix hasn't been realized so far.

[2022-07-18 19:25] ethanmdavidson opened #152 "pikchr integration?"
Hi, I'm interested in contributing a [Pikchr](https://pikchr.org/home/doc/trunk/homepage.md) integration. Pikchr is written in C, so it looks like I'll need to call C from Python ([pikchr integration docs](https://pikchr.org/home/doc/trunk/doc/integrate.md)). I don't work much with either python or C, but [based on 10 minutes of research it looks like](https://wiki.python.org/moin/IntegratingPytho

[2022-07-26 06:59] #149 closed

[2022-07-30 19:24] pbodnar commented on #152
Hi @ethanmdavidson, thanks for sharing your idea. I don't know how the mistletoe community, but I think it would be cool to have some "UML-like" diagrams support.

I have done some quick research, and it looks like there are various alternatives (each offering a different approach and set of features):

a) **Pikchr** - the easiest integration seems to be via calling a local OS-dependent executable

[2022-08-09 16:37] anderskaplan commented on #96
Looking at the spec, https://spec.commonmark.org/0.30/#emphasis-and-strong-emphasis:

It seems the reason you get the italics with an apostrophe is because the apostrophe counts as a Unicode punctuation character. The smart quote doesn't, so the italics *shouldn't* kick in.

This probably means that the asterisk workaround shouldn't work either 🤷

[2022-08-09 18:58] pbodnar commented on #96
@anderskaplan, thanks for taking time for an analysis - can you please elaborate on your thoughts a little bit?

Because, maybe I have overlooked something, but it seems to me, a markdown like `_Book Title_’s author` _should_ result in italics for the 1st part, because according to the spec, what _follows_ after the 2nd `_` shouldn't make a big difference, to quote what I think are the relevant pa

[2022-08-09 20:03] anderskaplan commented on #4
I'd like to see this too! In particular, to get as close as possible to a bit-perfect roundtrip. The use case would be to use it for translation.

I'd be happy to contribute this. Can't make any promises as to when it will be finished, but I've done some research and I think it should be possible.

The approach would be to add the necessary information (e.g., if '_' or '*' was used for emphasis) t

[2022-08-13 08:56] anderskaplan commented on #96
Hmm, you're right. I looked further into the specs, and the smart quote *does* indeed count as a unicode punctuation character, it's in the Final Punctuation (Pf) category. So it should work just like the straight quote.

As for your comment above, @pbodnar, about this not being specific to just smart quotes but also to other characters like a-z. I just want to point out that regular letters and p

[2022-08-13 09:17] pbodnar commented on #96
@anderskaplan, it seems you're right with your conclusions as well, thank you. :)

So it looks like now we need to find the right place in the code and probably widen the set of "punctuation characters" there if I got it right...

[2022-08-18 18:28] pbodnar commented on #142
Fixed by #153, merged into master.

[2022-08-18 18:28] #142 closed

[2022-08-21 10:30] pbodnar commented on #108
About to be fixed by: #156.

[2022-09-10 14:06] huguesdevimeux commented on #4
Hello,

Sorry, I'm late to the party. I'm working on this feature (no promise at all) for a personal project, and this thread is the closest one I could find on AST → MD, in python.

For reference, such renderer as already been coded in js [here](https://github.com/DamonOehlman/marked-ast-markdown) by @DamonOehlman. Most of the logic can be found [here](https://github.com/DamonOehlman/marked-ast-m

[2022-09-11 08:28] pbodnar commented on #4
@huguesdevimeux, thanks for your contribution to this topic.

Just be aware that @anderskaplan is currently probably working on this as well, while also greatly helping us fix many other things "on the way", so I'm not sure how far he actually got with this one (no [published branch](https://github.com/anderskaplan/mistletoe/branches) for this yet?)

Just checked, I can confirm the linked JS rende

[2022-09-12 13:21] huguesdevimeux commented on #4
Ok, then, perfect. I'm curious to see what you did, though :).

[2022-09-17 12:59] anderskaplan commented on #4
@huguesdevimeux hi, I've just created a draft PR for this. Please check it out and let me know how it works for you!

[2022-09-21 18:36] anderskaplan opened #163 "Question: Inconsistencies in the block tokens"
There are some inconsistencies among the block tokens that maybe should be fixed before stepping up to version 1.0:

1. Trailing newlines are sometimes preserved and sometimes not. `CodeFence` and `BlockCode` preserve them; `Paragraph` and `HTMLBlock` do not.
2. `CodeFence` and `BlockCode` keep their content in a single `RawText` child node, whereas the `HTMLBlock` keeps it in the `content` proper

[2022-09-25 14:14] pbodnar commented on #132
Resolved by #160.

[2022-09-25 14:14] #132 closed

[2022-09-25 18:51] anderskaplan commented on #60
The current state of the table parsing code is indeed ambiguous, and the docstring describing the Table token is misleading. It looks like there are remnants from an older version of the code, and it would be nice to get this fixed. I'd be happy to take a stab at it, but then I'll need a bit of direction: do we want support for headerless tables or not? And if yes, to what extent?

The simple exam

[2022-09-25 19:25] anderskaplan commented on #101
Hey @pbodnar, I found [this article](https://softwareengineering.stackexchange.com/questions/252053/whats-in-the-contrib-folder) which explains pretty nicely how some popular open source software packages use the contrib folder.

I think your suggestion to move the contrib folder to become a subfolder within the mistletoe folder is good. That's how Django does it. The big advantage, as I see it, i

[2022-10-02 11:45] anderskaplan commented on #108
Example 28 fails because HTML5 entities without a trailing semicolon (such as &copy) are explicitly not allowed by the CommonMark spec, but mistletoe uses the python function `html.unescape()` under the hood, which *does* recognize them.

This is a case where it can be argued whether spec compliance is an improvement, or not. Thoughts?

I certainly see the value in spec compliance, but I'll wait w

[2022-10-08 16:55] pbodnar commented on #101
@anderskaplan, thanks for your feedback on this (the only feedback so far actually ;)). If you have time, it would be great if you prepare a PR. :)

[2022-10-08 17:00] pbodnar commented on #60
@anderskaplan, thanks for the analysis!

As there doesn't seem to be enough drive / votes from the mistletoe community to support the requested feature, I would also vote for just cleaning up the code and be GFM-compliant, i.e. NOT to support headerless tables, at least for now.

[2022-10-08 18:55] pbodnar commented on #108
Well, I have tested and it seems like in fact mistletoe is already pretty close to spec compliance - this is the output from the failed test:

[code]

So it looks like we should just simply _add limits on number of digits_ to _existing_ replacement of `html`'s regex search inner field, to satisfy the CommonMark spec (now `&#87654321;` gets otherwise-correctly replaced by so called replacement char

[2022-10-09 08:18] anderskaplan commented on #108
Ok, I see. No, I wasn't aware of this workaround. I started from a test case and invoked span_token.tokenize_inner() directly, so the workaround in the HTMLRenderer wasn't included.

Imho the HTMLRenderer isn't a great place for the workaround. Mainly because it won't be available to other renders that way, meaning they will behave differently, and also because it seems more related to parsing tha

[2022-10-09 09:05] anderskaplan commented on #108
Updated the PR to include this fix.

[2022-10-09 09:11] pbodnar commented on #108
@anderskaplan, OK, agreed, go for it. :) I guess moving the "workaround" regex code into the `BaseRenderer` class could suffice, but you'll see. Thank you.

Technical note: It would generally help me - for better orientation when switching among PR branches - if you could put a short description into the branches' names, e.g. `fix-108-char-refs-digit-limit` for this one. :)

[2022-10-09 09:14] pbodnar commented on #108
Thank you, so PR #165 - no need to create a new PR / branch this time.

[2022-10-30 19:15] pbodnar commented on #89
Both reported problems and even more fixed by #164.

[2022-10-30 19:15] #89 closed

[2022-10-30 19:33] pbodnar commented on #163
The suggestions seem reasonable, I will try to review them soon.

I guess there is an implicit expectation that suggested changes would change the output from renderers, making them possibly more consistent, isn't it?

[2022-10-31 21:36] anderskaplan commented on #163
The proposal will mainly affect the AST. I think the output from the renderers would only change very little, if at all. But it would be easier to make their output more consistent, too, if desired.

[2022-11-18 07:35] minaminao opened #166 "Enable tables which interrupt a paragraph (like GFM does)"
Input markdown:
[code]

`ast_renderer` outputs:
[code]

I believe `Table` should be output, not `RawText`.

#### Actual output in GitHub:
A:
|a|b|
|-|-|
|a|b|

[2022-11-18 09:12] mikez commented on #4
+1 on rendering back to Markdown. :)

For my use case, it would be useful if the location of references and footnotes were preserved in the ast.
Why: Sometimes, there may be two different lists of footnotes: a notes section `[^a], [^b], [^c], ...` and a references section `[^1], [^2], [^3]`, akin to how Wikipedia has it.

[2022-11-18 17:04] pbodnar commented on #166
@minaminao, thanks for the report. After some analysis, I would consider this as a change request which could be stated like this:

_Enable tables to interrupt a paragraph_

Let me explain why:

1. Table like this works fine:

[2022-11-18 17:41] pbodnar commented on #166
FYI, by mistake, I have submitted the previous comment before finishing it. It is ready now. :)

[2022-11-18 18:08] minaminao commented on #166
Thanks for the analysis :)

(I found this in a table with more than 3 consecutive `-`'s, but simplified the table for reporting, and then have related it to another isssue #131 unexpectedly)

[2022-11-25 10:25] zyv commented on #121
Does it even make sense? Maybe just migrate to built-in GitHub Actions instead?

[2022-11-25 21:06] pbodnar commented on #121
Sure, GitHub Actions might be also the way to go, as I write:

Tips are welcome. :)